{% load static %}
<div class="sidebar">
    <a href="/" class="title">
        <img src="{% static 'images/logo.png' %}" alt="That Computer Scientist Logo" width="10rem" height="3.23rem">
    <!-- Login Box -->
    </a>
        {% if user.is_authenticated %}
        <div class="login-box">
            <p>Welcome, {{ user.username }}!</p>
            <p><a href="{% url 'users:logout' %}">Log Out</a></p>
        </div>
        {% else %}
        <form method="post" action="{% url 'users:login' %} ">
            {% csrf_token %}
            <fieldset>
                <legend>Login Area</legend>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" autocomplete="off">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password">
                {% for message in messages %}
                    <p class="{{message.tags}}">{{ message }}</p>
                {% endfor %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <input type="submit" value="Login">
            </fieldset>
        </form>
        {% endif %}
    <br>
    <fieldset>
        <legend>Navigation</legend>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/account">My Account</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </fieldset>
</div>

<script>
    // get the username parameter from the url
    var username = new URLSearchParams(window.location.search).get('username');
    // if the username parameter is not empty, set the username input to the value of the username parameter
    if (username) {
        document.getElementById('username').value = username;
    }
</script>
