<div class="sidebar">
  <a href="/" class="title">
    <h1>That Computer Scientist</h1>
    <!-- Login Box -->
    </a>
    <% if (username) { %>
        <div class="login-box">
            <p>Welcome, <%= username %>!</p>
            <a href="/logout">Logout</a>
        </div>
    <% } else { %>
        <form method="post" onsubmit="event.preventDefault();">
            <fieldset>
                <legend>Login Area</legend>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" autocomplete="off">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password">
                <input type="submit" value="Login">
                <a href="/register">Register</a>
            </fieldset>
        </form>
    <% } %>  
    <br>
    <fieldset>
        <legend>Navigation</legend>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </fieldset>
</div>
