<div class="sidebar">
    <a href="/" class="title">
        <img src="images/logo.png" alt="That Computer Scientist Logo" width="10rem" height="3.23rem">
    <!-- Login Box -->
    </a>
    <% if (locals.username) { %>
        <div class="login-box">
            <p>Welcome, <%= username %>!</p>
            <a href="/auth/logout">Logout</a>
        </div>
    <% } else { %>
        <form method="post" action="/auth/login">
            <fieldset>
                <legend>Login Area</legend>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" autocomplete="off">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password">
                <% if (locals.messages) { %>
                    <p class="error"><%= messages.error %></p>
                <% } %>
                <input type="submit" value="Login">
            </fieldset>
        </form>
    <% } %>  
    <br>
    <fieldset>
        <legend>Navigation</legend>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/blog">Blog</a></li>
                <% if (locals.username) { %>
                    <li><a href="/account">My Account</a></li>
                <% } else { %>
                    <li><a href="/auth/register">Register</a></li>
                <% } %>
            </ul>
        </nav>
    </fieldset>
</div>
