django
django-redis
python-dotenv
gunicorn
whitenoise
six
cryptocode
captcha
PyGithub
requests
pillow
pycryptodome
pygments
bs4
jellyfish
fuzzywuzzy
python-Levenshtein
selenium
django-haystack
channels
channels_redis
daphne
user_agents
numpy
scikit-learn
akismet
google-cloud-translate
django-hosts
apscheduler
