django
django-redis
python-dotenv
gunicorn
whitenoise
six
captcha
PyGithub
requests
pygments
bs4
jellyfish
fuzzywuzzy
selenium
channels
channels_redis
daphne
user_agents
numpy
scikit-learn
akismet
apscheduler
