{% extends 'shared/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/core/home.css' %}">
{% endblock head %}
{% block content %}
<div id="welcome">
    <p>
        ようこそ、<strong>シフー</strong>（旧称 <i>That Computer Scientist</i>）のホームページへ。私は<a href="#">@bobby</a>と申します。
        これは私の個人サイトです。レトロな雰囲気の個人サイトを目指しており、記事を通じて私の考えやアイデア、経験を共有し、懐かしさを感じられる機能やツールをご紹介していきます。
    </p>
    <p>
        このサイトは現在も開発中であり、継続的に更新作業を行っております。そのため、一部の機能はまだご利用いただけないか、意図した通りに動作しない可能性がございます。
    </p>
    <p>
        サイドバーには<a href="#thegoodstuff">おすすめ</a>もございますので、ぜひお試しください。今後もコンテンツを追加していく予定です。
        また、サイト内の様々なセクションに参加するには、アカウントの<a href="#">登録</a>が必要となります。どうぞごゆっくりお楽しみください。
    </p>
    <div id="chatbox">
        <div id="messages"></div>
        <textarea id="chatbox-input" placeholder="メッセージを入力してください...（⏎で送信）"></textarea>
    </div>
</div>
<img src="{% static 'images/core/gifs/construction.gif' %}" id="uc">
<div id="announcements">
  <img src="{% static 'images/core/gifs/update.gif' %}" style="height: 14px; position: relative; top: 4px; left: 124px;">
  {% if announcements is not None %}
  <div id="announcement-container">
    <div id="announcementsMarquee">
      {% for announcement in announcements %}
        <div class="announcement">
          <div class="announcement-icon">
            {% if announcement.is_new %}
              <img src="{% static 'images/core/gifs/new_announcement.gif' %}" alt="New Announcement" />
            {% else %}
              <img src="{% static 'images/core/gifs/hand.gif' %}" alt="Announcement" />
            {% endif %}
          </div>
          <div class="announcement-content">
            <u><strong>{{ announcement.created_at | date:"M d, Y" }}</strong></u>: {{ announcement.content_ja | safe }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
<div class="pamphlet pamphlet-banner"></div>
<h1 class="section-title">最近の考察</h1>
<div class="recent-weblogs">
  {% include 'partials/weblog_list.html' with posts=recent_weblogs %}
</div>
<h1 class="section-title">最近のアニメ活動</h1>
<div class="recent-anime">
  {% for anime in recent_mal_activity.anime %}
    <a class="anime" href="{{ anime.url }}" target="_blank">
      <div class="anime-image">
        <img src="{{ anime.image_url }}" alt="{{ anime.title }}">
      </div>
      <div class="anime-content">
        <h3>{{ anime.title }}</h3>
        <div class="anime-details">
          <span class="anime-status">{{ anime.status }}</span>
          <span class="anime-episodes">{{ anime.episodes_seen }}/{{ anime.episodes_total }}</span>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/libs/marquee.js' %}"></script>
<script type="text/javascript">
  const announcementsMarquee = document.getElementById('announcementsMarquee');
  const marquee = new Marquee(announcementsMarquee, {
    behavior: 'scroll',
    direction: 'up',
    scrollamount: 1,
    scrolldelay: 50,
    width: '100%',
    height: '236px',
    onmouseover: 'this.stop()',
    onmouseout: 'this.start()'
  });
</script>
{% endblock scripts %}
