{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shifoo's Solitude | Welcome</title>
    <meta name="description" content="Welcome to Shifoo's Solitude —  A Web Dungeon located beyond the Dark Hollows of the Endless Information SuperHighway — a dark yet tranquil place where all questions end, curiosity begins, the mind awakens, and one's journey begins anew in the solitude of a serene mind!" />
    <link rel="stylesheet"type="text/css" href="{% static '@solitude/css/welcome/welcome.css' %}" />
  </head>
  <body>
    <video id="cover-video" autoplay muted playsinline loop preload="auto" nocontrols>
        <source src="{% static '@solitude/videos/solitude_welcome.mp4' %}#t=0.1" type="video/mp4" />
    </video>
    </div><div id="cover-wrapper">
    <div id="welcome-content">
        <div class="cwrapper">
            <div class="glitch">
              <div class="line">the solitude</div>
              <div class="line">the solitude</div>
              <div class="line">the solitude</div>
              <div class="line">the solitude</div>
              <div class="line">the solitude</div>
              <div class="line">the solitude</div>
              <div class="line">the solitude</div>
              <div class="line">the solitude</div>
              <div class="line">the solitude</div>
            </div>
          </div>
          <button class="button" style="margin-top: 1rem;" onclick="window.location.reload();">
            Enter Shifoo's Solitude...
            <div class="button__horizontal"></div>
            <div class="button__vertical"></div>
          </button>
        <div id="welcome-playlist-player">
            <div class="controls">
                <button role="play" id="playButton" class="play"></button>
                <button role="pause" id="pauseButton" class="pause hidden"></button>
            </div>
            <img id="album-art" src="" alt="Album Art" width="100" height="100" />
            <div class="player">
                <div class="audio-bars">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <div class="audio-info">
                    <p class="small">Currently Playing</p>
                    <p class="track"><span id="track-title" class="title">Sleepy Rain</span> by <span id="track-artist" class="artist">lorenzzo</span></p>
                    <p class="small"><span id="min-elap">00</span>:<span id="sec-elap">00</span> / <span id="min-dur">00</span>:<span id="sec-dur">00</span></p>
                    <audio id="audio" preload="auto" nocontrols preload="auto">
                        <source src="" type="audio/mp3" />
                    </audio>
                </div>
            </div>
        </div>
    </div>
    <script>
      const playlistTracks = JSON.parse(
        "{{ playlist_tracks }}".replace(/&quot;/g, '"')
      );
    </script>
    <script src="{% static '@solitude/js/welcome.js' %}"></script>
  </body>
</html>
