<div class="anime-footer">
    <ul>
        <li>All data is fetched from <a href="https://anilist.co" target="_blank">AniList</a> and <a href="https://docs.consumet.org/" target="_blank">Consumet</a>.</li>
        <li>Additional data providers include: <a href="https://myanimelist.net" target="_blank">MyAnimeList</a>, <a href="https://kitsu.io" target="_blank">Kitsu</a>, <a href="https://tmdb.org" target="_blank">TMDB</a>, and <a href="https://jikan.moe" target="_blank">Jikan</a>.</li>
        <li>All streaming data is fetched from public sources. I do not host any streaming content.</li>
        <li>All services in the anime streaming section are free to use and are non-commercial in nature. A registered user account will be required to access some sections.</li>
    <ul>
</div>