{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"content="{{ request.meta.description }}" />
    <meta name="image" content="{{ request.meta.image }}" />
    <meta name="url" content="{{ request.meta.url }}" />
    <meta name="title" content="{{ request.meta.title }}" />
    <meta property="og:title" content="{{ request.meta.title }}" />
    <meta property="og:description" content="{{ request.meta.description }}" />
    <meta property="og:image" content="{{ request.meta.image }}" />
    <meta property="og:url" content="{{ request.meta.url }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ request.meta.title }}" />
    <meta name="twitter:description" content="{{ request.meta.description }}" />
    <meta name="twitter:image" content="{{ request.meta.image }}" />
    <meta name="robots" content="{{ request.meta.robots }}" />
    <title>That Computer Scientist - {{ title }}</title>
    <link preload rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}"/>
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}"/>
  </head>
  <body>
    <div id="wrap">
      <div id="header"></div>
      
      <div id="main-section">
        <div id="sidebar" style="display: inline;">
          {% include 'blog/partials/sidebar.html' %}
        </div>
        <div id="content" style="display: inline;">
          {% block content %} {% endblock %}
        </div>
      </div>

      <div id="footer" style="clear: both">
        <hr style="margin: 2rem 0" />
        <center>
          {% load ad %} {% for i in '12345789'|make_list %}
            <span><img src="{{'buttons'|ad }}" alt="Ad" style="width: 88px; height: 31px;" /></span>
          {% endfor %}
          <br />
          {% for i in '12345'|make_list %}
            <span><img src="{{'buttons'|ad }}" alt="Ad" style="width: 88px; height: 31px;" /></span>
          {% endfor %}
          <br />
        <center>
        <p style="text-align: center; margin-top: 1rem">&copy; {% now "Y" %} That Computer Scientist. Source code available on
          <a href="https://github.com/luciferreeves/thatcomputerscientist"
            >GitHub
          </a>. All rights reserved.
        </p>
        <p style="text-align: center">
          <b>PS:</b> The ads shown on this website are fake and purely for
          aesthetic purposes. I do not earn any money from them, neither clicking
          them will redirect you to any other website. If you have any questions, comments, or concerns about how this site operates and how your data is handled, please check out the <a href="{% url 'blog:policy' %}">site policy</a> page. View <a href="{% url 'django.contrib.sitemaps.views.sitemap' %}">Sitemap</a>.
        </p>
      </div>
    </div>
  </body>
</html>
