{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Welcome to the home of That Computer Scientist. I am Kumar Priyansh. This is my personal website where I share all of my thoughts, ideas, and experiences."
    />
    <meta name="referrer" content="{{ request.get_host }}" />
    <title>That Computer Scientist - {{ title }}</title>
    <link preload rel="stylesheet" href="{% static 'css/fonts.css' %}" />
    <link preload rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'images/favicons/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/favicons/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/favicons/favicon-16x16.png' %}"
    />
    <link
      rel="manifest"
      href="{% static 'images/favicons/site.webmanifest' %}"
    />
  </head>
  <body>
    <div class="header"></div>
    <div style="width: 1000px; margin: 20px auto;">
      <ul class="topnav">
        {% comment %} <img src="{% static 'images/gifs/new.gif' %}" alt="new" style="margin-left: 5px;"> {% endcomment %}
        <li class="new"><a href="{% url 'dev_status:repo' 'thatcomputerscientist' %}">
          Source Code
        </a></li>
        {% if user.is_authenticated %}
          {% load subdomainurls %}
          <li><a href="{% subdomain_url 'users:logout' 'accounts' request.build_absolute_uri %}">Logout</a></li>
        {% endif %}
      </ul>
      <hr>
    </div>
    <div class="mc">
      {% include 'blog/partials/sidebar.html' %}
      <div class="content">{% block content %} {% endblock %}</div>
      {% comment %} <div class="sidebar sidebar-lg" style="border-left: dotted 1px black">
        
      </div> {% endcomment %}
    </div>
    <div style="width: 1000px; margin: 0px auto 40px auto;">
      <hr style="margin: 2rem 0;">
      <footer style="text-align: center;">
        {% load ad %}
        {% for i in '12345789'|make_list %}
          <img src="{{'buttons'|ad }}" alt="Ad" width="88px" height="31px">
        {% endfor %}
        <br>
        {% for i in '12345'|make_list %}
          <img src="{{'buttons'|ad }}" alt="Ad" width="88px" height="31px">
        {% endfor %}
        <br>
        <br>
        &copy; {% now "Y" %} That Computer Scientist. Source code available on <a href="https://github.com/luciferreeves/thatcomputerscientist">GitHub</a>.
      </footer>
    </div>
  </body>
</html>
