{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Welcome to the home of That Computer Scientist. I am Kumar Priyansh. This is my personal website where I share all of my thoughts, ideas, and experiences."
    />
    <title>That Computer Scientist - {{ title }}</title>
    <link preload rel="stylesheet" href="{% static 'css/fonts.css' %}" />
    <link preload rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'images/favicons/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/favicons/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/favicons/favicon-16x16.png' %}"
    />
    <link
      rel="manifest"
      href="{% static 'images/favicons/site.webmanifest' %}"
    />
  </head>
  <body>
    <div class="header"></div>
    <div style="width: 1000px; margin-left: auto; margin-right: auto;" align="right">
      {% if not request.onclick or not request.old_browser %}
        <a class="navitem {% if not request.old_browser %}new{% endif %}" href="{% url 'dev_status:repo' 'thatcomputerscientist' %}">
          Source Code
        </a>
      {% else %}
        <button class="navitem {% if not request.old_browser %}new{% endif %}" onclick="window.location.href='{% url 'dev_status:repo' 'thatcomputerscientist' %}'">
          Source Code
        </button>
      {% endif %}
      {% if user.is_authenticated %}
        {% if not request.onclick or not request.old_browser %}
          <a class="navitem" href="{% url 'users:logout' %}">Logout</a>
        {% else %}
        <button class="navitem" onclick="window.location.href='{% url 'users:logout' %}'">Logout</button>
        {% endif %}
      {% endif %}
      <table style="table-layout: fixed; width: 1000px;">
        <td width="250px" style="vertical-align:top;">{% include 'blog/partials/sidebar.html' %}</td>
        <td width="750px" style="vertical-align:top;"><div class="content">{% block content %} {% endblock %}</div></td>
      </table>
    </div>
    <div style="width: 1000px; margin: 0px auto 40px auto">
      <hr style="margin: 2rem 0" />
      <footer style="text-align: center">
          <center>
          <table>
            <tr>
              {% load ad %} {% for i in '12345789'|make_list %}
              <td style="padding: 0 2px">
                <img src="{{'buttons'|ad }}" alt="Ad" style="width: 88px; height: 31px;" />
              </td>
              {% endfor %}
            </tr>
          </table>
          <table>
            <tr>
              {% for i in '12345'|make_list %}
              <td style="padding: 0 2px">
                <img src="{{'buttons'|ad }}" alt="Ad" style="width: 88px; height: 31px;" />
              </td>
              {% endfor %}
            </tr>
          </table>
          <div style="width: 600px; margin-left: auto; margin-right: auto; !important">
            <hr>
            <p>&copy; {% now "Y" %} That Computer Scientist. Source code available on
            <a href="https://github.com/luciferreeves/thatcomputerscientist"
              >GitHub</a
            >.</p>
            <p>
              <b>PS:</b> The ads shown on this website are fake and purely for
              aesthetic purposes. I do not earn any money from them, neither clicking
              them will redirect you to any other website.
            </p>
          </div>
        </center>
        </footer>
      </div>
  </body>
</html>
