{% load tz %}
{% load static %}
{% for post in posts %}
    <div class="post">
        <div class="post-header">
            <h1>
                <a style="color: #f4ebff;" href="{% url 'blog:post' post.slug %}">{{ post.title }}</a>
            </h1>
            <div class="author-info">
                {% with post.author.userprofile_set.first as userprofile %}
                    <span style="background-image: url('{% static 'images/avatars/' %}{{ userprofile.avatar_url }}.gif');" class="post-profile-image"></span>
                {% endwith %}
                <span>
                    <a href="{% url 'blog:user_activity' post.author %}" style="font-weight: bold;">
                        {{ post.author.first_name }} {{ post.author.last_name }}
                    </a>
                </span>
                <span>posted in</span>
                <span>
                    <a href="{% url 'blog:categories' %}/{{ post.category.slug }}" style="">
                        {{ post.category }}
                    </a>
                </span>
                <span style="margin-left: 4px;"><b>|</b></span>
                <span style="margin-left: 4px;">{% localtime on %}{{ post.date | date:"M d, Y" }}{% endlocaltime %}</span>
            </div>
        </div>
        <div class="post-body">
            <img class="post-image {% if forloop.counter|divisibleby:2 %}post-image-r{% else %}post-image-l{% endif %}" src="{% url 'ignis:post_image' '350' post.id %}.gif">
            {{ post.excerpt | safe }}
        </div>
        <div class="post-actions" style="clear: both;">
            <a href="{% url 'blog:post' post.slug %}">Continue Reading</a> | <a href="{% url 'blog:post' post.slug %}#comments">{{ post.num_comments }} 
            Comment{% if not post.num_comments == 1 %}s{% endif %}</a>
        </div>
    </div>
{% endfor %}