{% load static %}
{% comment %} Login Area {% endcomment %}
{% if not user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/login-area.css' %}">
</div>
{% for message in messages %}
{% if 'loginError' in message.tags %}
        {% if message.message == "ENVERR" and request.GET.username %}
            <form method="post" action="{% url 'users:sendverificationemail' %}" style="position: relative;">
                {% csrf_token %}
                <input type="hidden" name="username" value="{{ request.GET.username }}">
                <input type="submit" value="" style="    display: block;
                width: 57px;
                height: 12px;
                cursor: pointer;
                border-radius: 2px;
                position: absolute;
                top: 9px;
                left: -87px;
                background: transparent;
                z-index: 3;">
            </form>
        {% endif %}
        <div id="login-error">
            <div class="messageBox {{message.message}}"></div>
        </div>
        {% endif %}
    {% endfor %}
<div id="login-area">
    <form method="post" action="{% url 'users:login' %}" id="login-form">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="text" id="username" name="username" placeholder="Username" autocomplete="off" value="{{ request.GET.username }}">
        <input type="password" id="password" name="password" placeholder="Password" autocomplete="off">
        <input type="hidden" name="next" value="{{ request.path }}">
        <input type="submit" value="">
    </form>
    <a href="{% url 'blog:register' %}" id="register-now-button"></a>
</div>
{% endif %}

{% if user.is_authenticated %}
<div id="user-area">
    <h2>Hello, {{ user.username }}!</h2>
    <ul>
        <li>
            <span>
                <img src="{% static 'images/site/icons/email.gif' %}" alt="Home" border="0">
            </span>
            <span>
                <a href="{% url 'blog:user_activity' user.username %}">
                    Profile
                </a>
            </span>
        </li>
        <li>
            <span>
                <img src="{% static 'images/site/icons/mouse.gif' %}" alt="Home" border="0">
            </span>
            <span>
                <a href="{% url 'blog:account' %}">
                    Account
                </a>
            </span>
        </li>
        <li>
            <span>
                <img src="{% static 'images/site/icons/key.gif' %}" alt="Home" border="0">
            </span>
            <span>
                <a href="{% url 'users:logout' %}">
                    Logout
                </a>
            </span>
        </li>
    </ul>
</div>
{% endif %}

<div id="navigation-area" class="mtsbitem">
    <h2>Links</h2>
    <ul>
        <li>
            <span>
                <img src="{% static 'images/site/icons/news.gif' %}" alt="Home" border="0">
            </span>
            <span>
                <a href="{% url 'blog:home' %}">
                    Home
                </a>
            </span>
        </li>
        <li>
            <span>
                <img src="{% static 'images/site/icons/pencil.gif' %}" alt="Blog" border="0">
            </span>
            <span>
                <a href="{% url 'blog:articles' %}">
                    Weblog
                </a>
            </span>
        </li>
        <li>
            <span>
                <img src="{% static 'images/site/icons/cabinet.gif' %}" alt="Archives" border="0">
            </span>
            <span>
                <a href="{% url 'blog:archives' %}">
                    Archives
                </a>
            </span>
        </li>
        <li>
            <span>
                <img src="{% static 'images/site/icons/books.gif' %}" alt="Categories" border="0">
            </span>
            <span>
                <a href="{% url 'blog:categories' %}">
                    Categories
                </a>
            </span>
        </li>
        <li>
            <span>
                <img src="{% static 'images/site/icons/issues.gif' %}" alt="Tags" border="0">
            </span>
            <span>
                <a href="#">
                    Tags
                </a>
            </span>
        </li>
        <li>
            <span>
                <img src="{% static 'images/site/icons/setup.gif' %}" alt="Source Code" border="0">
            </span>
            <span>
                <a href="{% url 'dev_status:repo' 'thatcomputerscientist' %}">
                    Source Code
                </a>
            </span>
        </li>
    </ul>
</div>

<div id="fake-ad-area" class="mtsbitem">
    {% comment %} <h2>Advertisement</h2> {% endcomment %}
    {% load ad %}
        <img src="{{ "big" | ad }}" alt="Advertisement">
</div>

<div id="archives-area" class="mtsbitem">
    <h2>Archives</h2>
    <ul>
        {% for archive in archives %}
        <li>
            <span>
                <img src="{% static 'images/site/icons/cabinet.gif' %}" alt="Archive" border="0">
            </span>
            <span>
                <a href="{% url 'blog:archives' %}/{{ archive | date:"F_Y" }}">
                    {{ archive | date:"F Y" }}
                </a>
            </span>
        </li>
        {% endfor %}
        <li>
            <span>
                <img src="{% static 'images/site/icons/cabinet.gif' %}" alt="Archives" border="0">
            </span>
            <span>
                <a href="{% url 'blog:archives' %}">
                    All Archives...
                </a>
            </span>
        </li>
    </ul>
</div>

<div id="categories-area" class="mtsbitem">
    <h2>Categories</h2>
    <ul>
        {% for category in categories %}
        <li>
            <span>
                <img src="{% static 'images/site/icons/books.gif' %}" alt="Archive" border="0">
            </span>
            <span>
                <a href="{% url 'blog:categories' %}/{{ category.slug }}">
                    {{ category }}
                </a>
            </span>
        </li>
        {% endfor %}
        <li>
            <span>
                <img src="{% static 'images/site/icons/books.gif' %}" alt="Categories" border="0">
            </span>
            <span>
                <a href="{% url 'blog:categories' %}">
                    All Categories...
                </a>
            </span>
        </li>
    </ul>
</div>

{% if user.is_superuser %}
<div id="admin-area" class="mtsbitem">
    <h2>Admin</h2>
    <ul>
        <li>
            <span>
                <img src="{% static 'images/site/icons/right_hand.gif' %}" alt="Archive" border="0">
            </span>
            <span>
                <a href="{% url 'blog-admin:new-post' %}">
                    Create New Post
                </a>
            </span>
        </li>
        <li>
            <span>
                <img src="{% static 'images/site/icons/right_hand.gif' %}" alt="Archive" border="0">
            </span>
            <span>
                <a href="{% url 'blog-admin:posts' %}">
                    Manage Posts
                </a>
            </span>
        </li>
        <li>
            <span>
                <img src="{% static 'images/site/icons/right_hand.gif' %}" alt="Archive" border="0">
            </span>
            <span>
                <a href="#">
                    Manage Comments
                </a>
            </span>
        </li>
        <li>
            <span>
                <img src="{% static 'images/site/icons/right_hand.gif' %}" alt="Archive" border="0">
            </span>
            <span>
                <a href="{% url 'admin:auth_user_changelist' %}">
                    Manage Users
                </a>
            </span>
        </li>
        <li>
            <span>
                <img src="{% static 'images/site/icons/right_hand.gif' %}" alt="Archive" border="0">
            </span>
            <span>
                <a href="{% url 'admin:blog_category_changelist' %}">
                    Manage Categories
                </a>
            </span>
        </li>
        <li>
            <span>
                <img src="{% static 'images/site/icons/right_hand.gif' %}" alt="Archive" border="0">
            </span>
            <span>
                <a href="{% url 'admin:blog_tag_changelist' %}">
                    Manage Tags
                </a>
            </span>
        </li>
        <li>
            <span>
                <img src="{% static 'images/site/icons/right_hand.gif' %}" alt="Archive" border="0">
            </span>
            <span>
                <a href="{% url 'admin:announcements_announcement_changelist' %}">
                    Manage Announcements
                </a>
            </span>
        </li>
        <li>
            <span>
                <img src="{% static 'images/site/icons/right_hand.gif' %}" alt="Archive" border="0">
            </span>
            <span>
                <a href="{% url 'admin:index' %}">
                    Admin Area
                </a>
            </span>
        </li>
    </ul>
</div>
{% endif %}

<div id="fun-stuff" class="mtsbitem">
    <h2>Fun Stuff</h2>
    <ul>
        <li>
            <span>
                <img src="{% static 'images/site/icons/windows.gif' %}" alt="Repositories" border="0">
            </span>
            <span>
                <a href="{% url 'dev_status:home' %}">
                    My Repositories
                </a>
            </span>
        </li>
        <li>
            <span>
                <img src="{% static 'images/site/icons/windows.gif' %}" alt="Socialify" border="0">
            </span>
            <span>
                <a href="{% url 'blog:socialify' %}">
                    Socialify
                </a>
            </span>
        </li>
    </ul>
</div>
