{% load static %}
<div class="sidebar">
    <div class="lgn-area">
    <div>
        {% if user.is_authenticated %}
        {% else %}
        <fieldset>
            <legend>Login Area</legend>
            <form method="post" action="{% url 'users:login' %} ">
                {% csrf_token %}
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" autocomplete="off" value="{{ request.GET.username }}" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" autocomplete="off" required>
                <input type="hidden" name="next" value="{{ request.path }}">
                <input type="submit" value="Login">
            </form>
            {% for message in messages %}
                {% if 'loginError' in message.tags %}
                    {% if message.message == "EVERR" %}
                    <form method="post" action="{% url 'users:sendverificationemail' %}" >
                        <p class="{{message.tags}}">
                            Your email is unverified. Please check your inbox for a verification email or to request a new verification email by clicking{% csrf_token %}<input type="hidden" name="username"><input style="display: inline; background: none; border: none; color: blue; text-decoration: underline; cursor: pointer; margin: 0;" type="submit" value="here.">
                        </p>
                        </form>
                    {% else %}
                    <p class="{{message.tags}}">{{message.message}}</p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </fieldset>
        {% endif %}
        <fieldset>
            {% if user.is_authenticated %}
                <legend>Hello, {{ user.username }}!</legend>
            {% else %}
                <legend>Navigation</legend>
            {% endif %}
            <div>
                <ul class="sidenav">
                    <li class="sidenavitem"><a class="anavdef" href="{% url 'blog:home' %}">Home</a></li>
                    <li class="sidenavitem"><a class="anavdef" href="#">About</a></li>
                    <li class="sidenavitem"><a class="anavdef" href="#">Contact</a></li>
                    <li class="sidenavitem"><a class="anavdef" href="#">Blog</a></li>
                    {% if user.is_authenticated %}
                        <li class="sidenavitem"><a class="anavdef" href="{% url 'blog:account' %}">My Account</a></li>
                    {% else %}
                        <li class="sidenavitem"><a class="anavdef" href="{% url 'blog:register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </fieldset>
        <br>
        <div class="ad">
            {% load ad %}
            <img src="{{ "big" | ad }}" alt="Advertisement" style="width: 100%; height: auto;">
        </div>
        <div>
            <h3 style="margin-bottom: 0px"><em>Archives</em></h3>
            <hr />
            <ul>
                {% for archive in archives %}
                <li>
                <a class="anavdef" href="#">{{ archive | date:"F Y" }}</a>
                </li>
                {% endfor %}
            </ul>
            <h3 style="margin-bottom: 0px"><em>Categories</em></h3>
            <hr />
            <ul>
                {% for category in categories %}
                <li>
                <a class="anavdef" href="#">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% if user.is_staff %}
        <fieldset>
            <legend>Admin</legend>
            <nav>
                <ul class="sidenav">
                    {% if user.is_superuser %}
                        <li class="sidenavitem"><a class = "anavdef" href="{% url 'admin:index' %}">Admin Area</a></li>
                    {% endif %}
                    <li class="sidenavitem"><a class = "anavdef" href="{% url 'blog-admin:users' %}">Manage Users</a></li>
                    <li class="sidenavitem"><a class = "anavdef" href="{% url 'blog-admin:posts' %}">Manage Posts</a></li>
                    <li class="sidenavitem"><a class = "anavdef" href="{% url 'blog-admin:comments' %}">Manage Comments</a></li>
                    <li class="sidenavitem"><a class = "anavdef" href="{% url 'blog-admin:categories' %}">Manage Categories</a></li>
                    <li class="sidenavitem"><a class = "anavdef" href="{% url 'blog-admin:tags' %}">Manage Tags</a></li>
                    <li class="sidenavitem"><a class = "anavdef" href="{% url 'blog-admin:new-post' %}">Create New Post</a></li>
                </ul>
            </nav>
        {% endif %}
        </fieldset>
    </div>
    <br>
</div>
</div>
