.post {
    margin: 16px 0px;
}

.author-info>* {
    display: inline-block;
    vertical-align: middle;
}

.author-info {
    margin: 4px 0px 8px 0px;
}

.post-profile-image {
    width: 16px;
    height: 16px;
}

.post-body {
    position: relative;
}

.post-image {
    float: left;
    shape-outside: margin-box;
    margin-right: 12px;
    width: 350px;
    height: 230px;
    border-radius: 8px;
    overflow: hidden;
}

.post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    position: relative;
    top: 8px;
}

.post-content {
    overflow: visible;
}

.post-content p {
    text-align: justify;
    margin: 4px 0px;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    margin: 8px 0px;
    align-items: center;
}

.post-tag {
    display: inline-block;
    margin: 5px 2px;
    padding: 2px 10px;
    font-size: 11px;
    font-weight: normal;
    text-transform: capitalize;
    background-color: #311b4f;
    color: #dddddd !important;
    border-radius: 10px;
}

.post-tag:hover {
    background-color: #311b4f;
    color: #dddddd !important;
}