<%- include('partials/header.ejs') %> <%- include('partials/sidebar.ejs') %>
<div class="main">
  <div class="alert">
    <h1 class="center">That Computer Scientist</h1>
    <p>
      Welcome to the home of That Computer Scientist. This is my personal
      website where I share all of my thoughts, ideas, and experiences. To
      know more about me, please visit my <a href="/about">About</a> page. If
      you would like to connect with me, please visit my
      <a href="/contact">Contact</a> page. Please use the sidebar to navigate
      the site.
    </p>
  </div>
  <section>
    <h2>Recent Posts</h2>
  </section>
</div>

<%- include('partials/footer.ejs') %>
