<%- include('partials/header.ejs') %>
<%- include('partials/sidebar.ejs') %>
<div class="main">
  <div class="alert">
    <h2>Website under construction</h2>
    <p>This Website is under construction. Please come again later.</p>
  </div>
  <h1>Heading 1</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam harum a ab, eligendi sit, fugit reprehenderit rerum itaque in, possimus quasi neque temporibus aperiam omnis. Architecto, at nostrum, culpa cupiditate cumque accusamus ducimus modi id inventore quam dicta temporibus nisi perspiciatis reiciendis amet alias ad, doloremque laborum exercitationem placeat minima voluptas sapiente! Exercitationem dolorem quis aut ullam nesciunt delectus a odio laboriosam consequuntur expedita, deserunt veniam assumenda dolor illum eaque rem ut nemo asperiores, repellendus, sint nobis officia. Placeat id est accusamus suscipit ex velit magni architecto laboriosam alias impedit nesciunt, illo quae! Nisi, quam. Aspernatur, tenetur! Velit voluptas doloremque quae totam tempore magnam vero accusamus error nobis, animi, ex accusantium libero dignissimos rem rerum vitae illum illo voluptatibus temporibus quasi blanditiis officiis quod! Similique?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus et quidem odit accusamus provident, omnis, a architecto nostrum porro expedita voluptatem qui, natus quis?</p>
</div>


<%- include('partials/footer.ejs') %>
