/* making a sidebar layout with 20% sidebar */
body {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: calc(100vh - 16px);
    background-color: #fafafa;
    padding: 0;
    min-width: calc(100vw - 16px);
    font-family: 'TimesPixelated';
}

.sidebar {
    background-color: #bad9ff;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #191919;
}

.main {
    flex: 1;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.title:visited {
    color: #000;
}

.title > h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0;
}

.title {
    display: block;
}

.title > img {
    width: 10rem;
    height: 3.23rem;
    display: block;
    margin: 0px auto 10px auto;
    pointer-events: none;
}

.alert {
    background-color: #ffd4bd;
    padding: 20px;
    border: 1px solid #191919;
}

lebel, input, textarea, select {
    display: block;
    margin: 5px 0px;
    font-family: 'TimesPixelated';
    font-size: 16px;
}

input[type = 'submit'] {
    margin-top: 10px;
}

fieldset {
    border: 1px solid #191919;
    padding: 10px 20px;
}

nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav > ul > li {
    margin: 5px 0;
}

.center {
    text-align: center;
}

.login-box {
    padding: 20px;
    border: 1px solid #191919;
}

.login-box > p {
    margin-top: 0;
    margin-bottom: 10px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.account {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ac-sidebar {
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ac-main {
    flex: 1;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.errorbox {
    background-color: #ffd4bd;
    padding: 20px;
    border: 1px solid #191919;
}

.errorbox > h1 {
    margin-top: 0;
}

/* Optimize for phones */
@media only screen and (max-width: 480px) {
    body {
        flex-direction: column;
    }

    .account {
        flex-direction: column;
    }
}
