/* making a sidebar layout with 20% sidebar */
body {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: calc(100vh - 16px);
    background-color: #fafafa;
    padding: 0;
    min-width: calc(100vw - 16px);
}

.sidebar {
    background-color: rgb(162, 201, 255);
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #191919;
}

.main {
    flex: 1;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.title:visited {
    color: #000;
}

.title > h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0;
}

.alert {
    background-color: rgb(255, 202, 162);
    padding: 20px;
    border: 1px solid #191919;
}

lebel, input {
    display: block;
    margin-bottom: 10px;
}

fieldset {
    border: 1px solid #191919;
    padding: 10px 20px;
}

nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav > ul > li {
    margin: 5px 0;
}

.center {
    text-align: center;
}

.login-box {
    padding: 20px;
    border: 1px solid #191919;
}

.login-box > p {
    margin-top: 0;
    margin-bottom: 10px;
}
