{% extends 'shared/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/core/home.css' %}">
{% endblock head %}
{% block content %}
<div id="welcome">
  <p>
    Welcome to the home of <strong>Shifoo</strong> (previously <i>That Computer Scientist</i>). My name is <a href="#">@bobby</a>, and this is my personal
    website. I aim to build a retro looking personal website, where I share my thoughts, ideas, and experiences through articles, and will showcase some cool nostalgic features and tools.
  </p>
  <p>
  Please note that I am continuously working on this site, and it is still under construction. So, not all features are available yet, and some features may not work as intended.
  </p>
  <p>
    There's also a some of <a href="#thegoodstuff">The Good Stuff</a> you can find in the sidebar, that you can play around with. I will be adding more in the not so distant future.
    Also, To participate around various sections of the site, you will need to <a href="#">register</a> for an account. I hope you enjoy your stay here.
  </p>
  <div id="chatbox">
    <div id="messages"></div>
    <textarea id="chatbox-input" placeholder="Type your message here... (⏎ to send)"></textarea>
  </div>
</div>
<img src="{% static 'images/core/gifs/construction.gif' %}" id="uc">
{% endblock %}
