<%- include('../partials/header.ejs') %> <%- include('../partials/sidebar.ejs') %>
<div class="main">
  <div class="errorbox">
    <h1 class="error">Whoops! Encountered an error!</h1>
    <p><%= error %></p>
    <p>Please click <a href="/">here</a> to go back to the home page.</p>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
