<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
  </head>
  <body>
    <h3>Reset Your Current Password</h3>
    <p>Hi {{ user }},</p>
    <p>
      We received a request to reset your password on {{ site_name }}. To reset
      your password, please click the link below.
    </p>
    <a href="{{ protocol }}{{ domain }}{% url 'blog:resetpassword' uid token %}"
      >Reset Password</a
    >
    <p>If the above link does not work, copy and paste the URL below into your browser:</p>
    <a href="{{ protocol }}{{ domain }}{% url 'blog:resetpassword' uid token %}">{{ protocol }}{{ domain }}{% url 'blog:resetpassword' uid token %}</a>
    <p>Please ignore this email if you did not make this request.</p>
    <p>Thanks,</p>
    <p>Bobby from {{ site_name }}</p>
  </body>
</html>
