<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Email</title>
  </head>
  <body>
    <h1>Verify Your New Account</h1>
    <p>Hi {{ user }},</p>
    <p>
      Thanks for registering an account on {{ site_name }}. To verify your email
      address, please click the link below.
    </p>
    <a
      {% comment %} href="{{ protocol }}{{ domain }}{% url 'users:changeemail' 'verifyemail' uid token %}" {% endcomment %}
      >Verify Email</a
    >
    <p>If the above link does not work, copy and paste the URL below into your browser:</p>
    {% comment %} <a href="{{ protocol }}{{ domain }}{% url 'users:changeemail' 'verifyemail' uid token %}">{{ protocol }}{{ domain }}{% url 'users:changeemail' 'verifyemail' uid token %}</a> {% endcomment %}
    <p>Please ignore this email if you did not make this request.</p>
    <p>Thanks,</p>
    <p>Bobby from {{ site_name }}</p>
  </body>
</html>
