/* @import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,400;0,700;1,400;1,700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"); */

@font-face {
  font-family: "Comic Code Regular";
  src: url("../fonts/COCOLGR.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Mali: Bold, BoldItalic, ExtraLight, ExtraLightItalic, Italic, Light, LightItalic, Medium, MediumItalic, Regular, SemiBold, SemiBoldItalic */
@font-face {
  font-family: "Mali";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Mali/Mali-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Mali";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/Mali/Mali-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Mali";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Mali/Mali-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Mali";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Mali/Mali-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Mali";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Mali/Mali-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mali";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Mali/Mali-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Mali";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Mali/Mali-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Mali";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Mali/Mali-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Mali";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Mali/Mali-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Mali";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/Mali/Mali-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Mali";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Mali/Mali-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Mali";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Mali/Mali-BoldItalic.ttf") format("truetype");
}

/* Noto Sans JP - Variable */
@font-face {
  font-family: "Noto Sans JP";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
}

.linenos,
code {
  font-family: "Comic Code Regular", sans-serif;
}

.linenos > .linenodiv > pre {
  line-height: 125%;
}

.en {
  font-family: "Mali", sans-serif;
}

body.ja,
.ja {
  font-family: "Noto Sans JP", sans-serif;
}
