#welcome {
    width: 730px;
    height: 262px;
    background: url('../images/backgrounds/welcome-banner.png') no-repeat;
    background-size: 730px 262px;
    margin: 0px auto 20px auto;
    border: 0px;
    position: relative;
    margin-top: 15px;
    text-align: justify;
}

#welcome > p {
    width: 500px;
    margin: 12px 0px 12px 142px;
    position: relative;
    top: 80px;
}

#announcements {
    background: url('../images/backgrounds/announcements.png') no-repeat;
    background-size: 730px 300px;
    position: relative;
    margin-top: 15px;
    width: 730px;
    height: 300px;
}

#update-gif {
    height: 14px;
    display: block;
    position: relative;
    left: 68px;
    top: 11px;
}

marquee {
    border: 15px solid transparent;
    border-radius: 4px;
    padding: 15px;
    border-image: url('../images/backgrounds/announcements_border.png') 50 round;
    width: 480px;
    height: 180px;
    position: relative;
    left: 70px;
    top: 23px;
}

marquee > ul {
    text-align: justify;
}
