#welcome {
    width: 730px;
    height: 262px;
    background: url('../images/backgrounds/welcome-banner.png') no-repeat;
    background-size: 730px 262px;
    margin: 0px auto 20px auto;
    border: 0px;
    position: relative;
    margin-top: 15px;
    text-align: justify;
    border-radius: 8px;
}

#welcome > p {
    width: 375px;
    margin: 12px 0px 12px 50px;
    position: relative;
    top: 30px;
    text-align: justify;
}

#chatbox {
    position: absolute;
    right: 110px;
    width: 160px;
    top: 25px;
}

#messages {
    height: 175px;
    overflow-y: scroll;
    position: relative;
}

.message {
    text-align: left;
}

#chatbox-input {
    width: 156px;
    border: none;
    padding: 10px 2px 2px 2px;
    resize: none;
    border-top: solid 1px rgba(222, 222, 222, 0.7);
    border-radius: 0;
    height: 35px;
}

#announcements {
    background: url('../images/backgrounds/announcements.png') no-repeat;
    background-size: 730px 300px;
    position: relative;
    margin-top: 15px;
    width: 730px;
    height: 300px;
}

#update-gif {
    height: 14px;
    display: block;
    position: relative;
    left: 118px;
    top: 11px;
}

marquee {
    border: 15px solid transparent;
    padding: 15px;
    border-image: url('https://image.slidesdocs.com/responsive-images/docs/pop-art-bubble-dialog-in-shades-of-pink-and-purple-page-border-background-word-template_1ed12b1322__1131_1600.jpg') 45 round;
    width: 480px;
    height: 180px;
    position: relative;
    left: 120px;
    top: 23px;
    background-color: rgba(0, 0, 0, 0.2);
}

marquee::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    content: '';
    z-index: -1;
    border-radius: 16px;
}

marquee > ul {
    text-align: justify;
}
