body {
    background: black;
    background-image: url("../images/site/backgound.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-size: 11px;
    font-family: Verdana,Helvetica,Arial,Sans-Serif;
    margin: 0px auto 0px;
    padding: 0px;
    color: #dddddd;
}

a {
    color: #a591ee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    color: white;
    font-size: 11px;
    font-weight: bold;
    margin: 0px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: solid 1px #dddddd;
    margin-bottom: 15px;
}

input {
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 11px;
}

.button {
    background-color: #3E4245;
    border-radius: 5px;
    color: #dddddd;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    outline: none;
    border: none;
    text-decoration: none;
    font-size: 11px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    background: -moz-linear-gradient(90deg, #3E4245 0%, #2E3131 100%);
    background: -webkit-linear-gradient(90deg, #3E4245 0%, #2E3131 100%);
    background: linear-gradient(90deg, #3E4245 0%, #2E3131 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3E4245",endColorstr="#2E3131",GradientType=1);
}

.button-special {
    background-color: #8663e5;
    background: -moz-linear-gradient(90deg, #8663e5 0%, #6735c6 100%);
    background: -webkit-linear-gradient(90deg, #8663e5 0%, #6735c6 100%);
    background: linear-gradient(90deg, #8663e5 0%, #6735c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8663e5",endColorstr="#6735c6",GradientType=1);
}

.mtsbitem {
    margin-top: 40px;
}

.mtctitem {
    margin-top: 20px;
}

.error, .errorlist {
    color: #fa3737;
}

.ac {
    margin-right: 5px;
    height: 12px;
    width: 30px;
}

.ac2 {
    margin-right: 5px;
    width: 30px;
    height: 14px;
}

.post-actions {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    margin: 10px 0px 20px 0px;
    padding: 0px;
}

#wrap {
    width: 1000px;
    margin: auto;
    text-align: left;
}

#header {
    background-image: url("../images/site/Banner.gif");
    background-repeat: no-repeat;
    background-position: center;
    height: 333px;
    margin: auto;
}

#navbar {
    text-align: right;
    margin-bottom: 20px;
}

#navbar ul {
    margin: 0px;
    padding: 0px;
}

#navbar li {
    display: inline;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#navbar a {
    text-decoration: none;
    color: white;
}

#navigation-area ul, #archives-area ul, #categories-area ul, #admin-area ul, #announcements ul {
    margin: 0px;
    padding: 0px;
}

#register_form ul {
    padding: 0px;
    list-style-type: none;
}

#navigation-area li, #archives-area li, #categories-area li, #admin-area li, #announcements li {
    display: block;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#navigation-area a, #archives-area a, #categories-area a, #admin-area a, #announcements a {
    text-decoration: none;
    color: #a591ee;
}

#navigation-area a:hover, #archives-area a:hover, #categories-area a:hover, #admin-area a:hover, #announcements a:hover {
    text-decoration: underline;
}

#navigation-area img, #archives-area img, #categories-area img {
    width: 24px;
    vertical-align:middle;
}

#admin-area img {
    width: 14px;
    vertical-align:middle;
}

#navigation-area span, #archives-area span, #categories-area span, #admin-area span, #announcements span {
    margin-right: 10px;
}

#sidebar {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 250px;
    height: 100%;
    display: inline;
}

#content {
    float: left;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    width: 730px;
    height: 100%;
    display: inline;
}

#footer {
    clear: both;
    margin: 20px auto;
    padding: 5px 0px 0px 0px;
    width: 1000px;
    display: block;
}

#login-form div {
    margin: 0px 0px 15px 0px;
    padding: 0px;
}

#login-form span {
    display: inline-block;
    width: 70px;
}

#recent-posts h1 {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: bold;
}

#recent-posts a {
    color: #91b3ee;
}

#recent-posts h1 a {
    color: #56a6a1;
}



/* 
.main {
    padding: 10px;
}    

.zoom {
    width: 320px;
    height: 160px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 338px 169px;
}

.sidebar {
    overflow-y: auto;
    margin-top: -10px;
} */

/* COLORS SECTION ACCORIDING TO DARK MODE */

/* h1, h2, h3, h4, h5, h6, p, a, li, span, label, footer, .table {
    color: #cecece;
}

p {
    font-size: 16px;
}

h2 {
    font-size: 24px;
}

a {
    color: #636eb0;
}

.anavdef {
    text-decoration: none;
    font-size: 14px;
    font-family: 'TopNavbar', serif; 
}

.anavdef:hover {
    text-decoration: underline;
}

.icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 24px;
    height: auto;
}

fieldset {
    outline: 1px colid #cecece;
}

.titlebar {
    padding: 8px 0px;
    padding-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 14px;
    color: #fff;
    background: #06022c;
    background-image: linear-gradient(to right, #06022c 0%, black 100%);
    text-transform: capitalize;
}

.area-content {
    padding: 10px;
}

.area-bg {
    background: #0c0c18;
}

.content {
    padding: 9px 10px 20px 20px;
    overflow-y: auto;
    overflow-x: visible;
}

.alert {
    background-color: #06080d;
    padding: 20px;
    *padding: 20px;
    _padding: 20px;
    border: 1px solid #cecece;
}

lebel, input, textarea, select {
    display: block;
    margin: 5px 0px;
    font-family: serif;
    font-size: 16px;
}

input, textarea, select {
    background-color: rgb(17, 17, 17);
    color: #cecece;
}

input[type = 'submit'] {
    margin-top: 10px;
}

.sidenav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidenavitem {
    margin: 5px 0;
}

.center {
    text-align: center;
}

.login-box {
    padding: 20px;
    border: 1px solid #cecece;
}

.login-box > p {
    margin-top: 0;
    margin-bottom: 10px;
}

.error {
    color: rgb(255, 81, 81);
}

.updates {
    width: 80px;
    height: 16px;
}

.success {
    color: green;
}

.alert.success {
    color: #d4ffbd;
    padding: 10px;
    background-color: rgb(5, 74, 5);
    font-weight: bold;
}

.alert.error {
    color: #ffbdbd;
    padding: 10px;
    background-color: rgb(74, 5, 5);
    font-weight: bold;
}

.account {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ac-sidebar {
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ac-main {
    flex: 1;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

#captcha {
    display: flex;
    flex-direction: row;
}

#captcha > img:nth-child(1) {
    height: 60px;
    margin-right: 10px;
}

#captcha > img:nth-child(2) {
    height: 30px;
    transform: translateY(15px);
    cursor: pointer;
}

.float-right {
    float: right;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
} */

/* Add borders to all cells */
/* .table, .table th, .table td {
    border: 1px solid #cecece;
}

.table-striped > tbody > tr:nth-child(odd) {
    background-color: #0000007a;
}

summary {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1em;
}

.pagination {
    display: block;
    text-align: center;
}

.page {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background: #06022c;
    color: #8693e1 !important;
    margin: 0 5px;
}

.page-disabled {
    color: #aaa !important;
    cursor: not-allowed;
}

.page-active {
    color: #fff !important;
    background: #000;
    text-decoration: none;
}

.page-separator {
    border-right: 1px solid #aaa;
}

.label {
    width: 100%;
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.label-success {
    color: #d4ffbd;
    background-color: rgb(5, 74, 5);
}

.label-error {
    color: #ffbdbd;
    background-color: rgb(74, 5, 5);
}

.label-warning {
    color: #ffd4bd;
    background-color: rgb(74, 5, 5);
}

.comment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.profile-picture > img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 15px;
    display: inline-block;
}

.comment-header {
    font-size: 0.8em;
    margin-top: 0px;
    margin-bottom: 10px;
}

.comment-body {
    flex: 1;
    margin-top: 0px;
}

.article-body > p > img {
    display: block;
    margin: 0px auto 10px auto;
    max-height: 50vh;
    max-width: 100%;
}

.navitem {
    display: inline-block;
    background: #016dfe;
    color: #FFFFFF;
    border-top: 2px solid #4d99ff;
    border-left: 2px solid #4d99ff;
    border-right: 2px solid #004eb6;
    border-bottom: 2px solid #004eb6;
    position: relative;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 12px;
    font-family: 'TopNavbar', serif;
    text-decoration: none;
    cursor: pointer;
}

.topnav > li > a {
    color: #feffcf;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 8px;
}

.sbox {
    display: inline-block;
    background: #050b0f; 
    padding: 5px 10px; 
    font-size: 12px; 
    font-family: 'TopNavbar', serif; 
    border-bottom: 3px solid #848484;
    border-right: 3px solid #848484;
    border-left: 3px solid #424242;
    border-top: 3px solid #424242;
    margin: 0px;
}

.sbox:focus {
    outline: none;
}

.sbtn { 
    outline: 0; 
    background: #016dfe;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border-top: 2px solid #4d99ff;
    border-left: 2px solid #4d99ff;
    border-right: 2px solid #004eb6;
    border-bottom: 2px solid #004eb6;
}

.ad {
    border: solid 1px #cecece;
    padding: 10px;
    _padding: 10px;
    *padding: 10px;
    position: relative;
}

.ad-label {
    color: black;
    display: block;
    font-size: 10px;
    position: absolute;
    top: 0px;
    background-color: #ffffff;
    padding: 2px 5px;
    _padding: 2px 5px;
    *padding: 2px 5px;
    border-radius: 0 0 0 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ad-banner {
    right: 0px;
    transform: translateX(22px);
}

.ad-big {
    right: 0px;
}

.file {
    padding: 4px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.file > div {
    color: #cecece;
}

.file > a {
    color: #cecece;
    text-decoration: none;
}

.ft-file {
    width: 32px;
    background-image: url('../images/icons/file.ico');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    background-size: contain;
}

.ft-dir {
    width: 32px;
    background-image: url('../images/icons/Folder.ico');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 10px;
}

.file-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.file-meta.file-meta-dark {
    display: none;
}

.hljs-style-github-dark-dimmed .hljs {
    background: rgb(34 39 46 / 0%) !important;
}

pre {
    color: white;
    background-color: rgba(40, 48, 59, 0.317);
    border: 1px solid #cecece;
    padding: 10px;
    border-radius: 5px;
}

.announcements {
    list-style: none;
    padding: 0;
    margin: 0;
}


 */
