body {
    background-image: url("../images/site/backgound.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    min-height: calc(100vh);
    text-align: center;
}

.header {
    background-image: url("../images/site/Banner.gif");
    background-repeat: no-repeat;
    background-position: center;
    width: 1000px;
    height: 333px;
    margin: auto;
}

.sidebar {
    overflow-y: auto;
    margin-top: -10px;
}

/* COLORS SECTION ACCORIDING TO DARK MODE */

h1, h2, h3, h4, h5, h6, p, a, li, span, label, footer, .table {
    color: #cecece;
}

p {
    font-size: 16px;
}

h2 {
    font-size: 24px;
}

.anavdef {
    font-size: 16px;
    text-decoration: none;
    color: #8278ed;
}

.anavdef:hover {
    text-decoration: underline;
}

.icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 24px;
    height: auto;
}

fieldset {
    outline: 1px colid #cecece;
}

.titlebar {
    background: #160e32;
    padding: 8px 0px;
    padding-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 12px;
    color: #cecece;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.area-content {
    padding: 10px;
    background: #06080d;
}

.content {
    padding: 9px 10px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.alert {
    background-color: #0c1221;
    padding: 20px;
    *padding: 20px;
    _padding: 20px;
    border: 1px solid #cecece;
}

lebel, input, textarea, select {
    display: block;
    margin: 5px 0px;
    font-family: serif;
    font-size: 16px;
}

input, textarea {
    background-color: rgb(17, 17, 17);
    color: #cecece;
}

input[type = 'submit'] {
    margin-top: 10px;
}

.sidenav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidenavitem {
    margin: 5px 0;
}

.center {
    text-align: center;
}

.login-box {
    padding: 20px;
    border: 1px solid #cecece;
}

.login-box > p {
    margin-top: 0;
    margin-bottom: 10px;
}

.error {
    color: rgb(255, 81, 81);
}

.updates {
    width: 80px;
    height: 16px;
}

.success {
    color: green;
}

.alert.success {
    color: #d4ffbd;
    padding: 10px;
    background-color: rgb(5, 74, 5);
    font-weight: bold;
}

.alert.error {
    color: #ffbdbd;
    padding: 10px;
    background-color: rgb(74, 5, 5);
    font-weight: bold;
}

.account {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ac-sidebar {
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ac-main {
    flex: 1;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

#captcha {
    display: flex;
    flex-direction: row;
}

#captcha > img:nth-child(1) {
    height: 60px;
    margin-right: 10px;
}

#captcha > img:nth-child(2) {
    height: 30px;
    transform: translateY(15px);
    cursor: pointer;
}

.float-right {
    float: right;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

/* Add borders to all cells */
.table, .table th, .table td {
    border: 1px solid #cecece;
}

.table-striped > tbody > tr:nth-child(odd) {
    background-color: #0000007a;
}

summary {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1em;
}

.disabled {
    color: #aaa;
    cursor: not-allowed;
}

.label {
    width: 100%;
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.label-success {
    color: #d4ffbd;
    background-color: rgb(5, 74, 5);
}

.label-error {
    color: #ffbdbd;
    background-color: rgb(74, 5, 5);
}

.label-warning {
    color: #ffd4bd;
    background-color: rgb(74, 5, 5);
}

.comment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.profile-picture > img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 15px;
    display: inline-block;
}

.comment-header {
    font-size: 0.8em;
    margin-top: 0px;
    margin-bottom: 10px;
}

.comment-body {
    flex: 1;
    margin-top: 0px;
}

.article-body > p > img {
    display: block;
    margin: 0px auto 10px auto;
    max-height: 50vh;
    max-width: 100%;
}

.navitem {
    display: inline-block;
    margin-left: 10px;
    background: #0000FF;
    color: #FFFFFF;
    border-top: 2px solid #6666FF;
    border-left: 2px solid #6666FF;
    border-right: 2px solid #00007C;
    border-bottom: 2px solid #00007C;
    position: relative;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 12px;
    font-family: 'TopNavbar', serif;
    text-decoration: none;
    cursor: pointer;
}

.new::before {
    content: url('../images/gifs/new.gif');
    position: absolute;
    top: -9px;
    right: -10px;
    width: 30px !important;
    height: 15px !important;
}

.topnav > li > a {
    color: #feffcf;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 8px;
}

.ad {
    border: solid 1px #cecece;
    padding: 10px;
    _padding: 10px;
    *padding: 10px;
    position: relative;
}

.ad-label {
    color: black;
    display: block;
    font-size: 10px;
    position: absolute;
    top: 0px;
    background-color: #ffffff;
    padding: 2px 5px;
    _padding: 2px 5px;
    *padding: 2px 5px;
    border-radius: 0 0 0 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ad-banner {
    right: 0px;
    transform: translateX(22px);
}

.ad-big {
    right: 0px;
}

.file {
    padding: 4px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.file > div {
    color: #cecece;
}

.file > a {
    color: #cecece;
    text-decoration: none;
}

.ft-file {
    width: 32px;
    background-image: url('../images/icons/file.ico');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    background-size: contain;
}

.ft-dir {
    width: 32px;
    background-image: url('../images/icons/Folder.ico');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 10px;
}

.file-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.file-meta.file-meta-dark {
    display: none;
}

.hljs-style-github-dark-dimmed .hljs {
    background: rgb(34 39 46 / 0%) !important;
}

pre {
    color: white;
    background-color: rgba(40, 48, 59, 0.317);
    border: 1px solid #cecece;
    padding: 10px;
    border-radius: 5px;
}

.announcements {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac {
    margin-right: 5px;
    height: 12px;
    width: 30px;
}

.ac2 {
    margin-right: 5px;
    width: 30px;
    height: 14px;
}

