{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}" data-theme="dark">
<head>
<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
<link rel="stylesheet" href="{% static "admin/css/dark_mode.css" %}">
<link rel="stylesheet" href="{% static "admin/css/nav_sidebar.css" %}">
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "admin/css/responsive.css" %}">
{% endblock %}

<link type="text/css" rel="stylesheet" href="{% static 'css/shared/core.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/shared/fonts.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/shared/scanlines.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/shared/sidebar.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/kawaiibeats/kawaiibeats.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'admin/services/reskin.css' %}">

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>

<body class="admin-reskin {% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">
{% if is_popup %}
<div id="container" class="admin-popup">
  <main id="content-start" class="content" tabindex="-1">
    {% block messages_popup %}{% endblock %}
    <div id="content" class="{% block coltype_popup %}colM{% endblock %}">
      {% block pretitle_popup %}{% endblock %}
      {% block content_popup %}{% block object-tools_popup %}{% endblock %}{{ content }}{% endblock %}
      <br class="clear">
    </div>
  </main>
</div>
{% else %}
<video autoplay muted loop id="video-background" preload="auto">
  <source src="{% static 'videos/background_.webm' %}" type="video/webm" />
</video>
<div id="video-overlay"></div>
<div id="body-wrapper">
  {% include "_partials/header.html" %}
  <div id="content-wrapper">
    <div id="left-sidebar" style="{% if user.is_authenticated %}border-top-left-radius: 0px;{% endif %}">
      {% include "_partials/left_sidebar.html" %}
    </div>
    <div id="main-content">
      <div class="main admin-main" id="main">
        {% if has_permission %}
          {% block nav-sidebar %}{% include "admin/nav_sidebar.html" %}{% endblock %}
        {% endif %}
        <main id="content-start" class="content" tabindex="-1">
          {% block nav-breadcrumbs %}
          <nav aria-label="{% translate 'Breadcrumbs' %}">
            {% block breadcrumbs %}
            <div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}</div>
            {% endblock %}
          </nav>
          {% endblock %}
          {% block messages %}
            {% if messages %}
            <ul class="messagelist">{% for message in messages %}<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>{% endfor %}</ul>
            {% endif %}
          {% endblock messages %}
          <div id="content" class="{% block coltype %}colM{% endblock %}">
            {% block pretitle %}{% endblock %}
            {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
            {% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}{% endblock %}
            {% block content %}{% block object-tools %}{% endblock %}{{ content }}{% endblock %}
            {% block sidebar %}{% endblock %}
            <br class="clear">
          </div>
        </main>
      </div>
    </div>
    <div id="right-sidebar">
      {% include "_partials/right_sidebar.html" %}
    </div>
  </div>
  <div id="footer">{% include "_partials/footer.html" %}</div>
</div>
<div id="scanlines"></div>
{% endif %}
{% block extrabody %}{% endblock extrabody %}

{% if not is_popup %}
<script type="text/javascript" src="{% static 'js/libs/pamphlet.js' %}"></script>
<script type="text/javascript" src="{% static 'js/core/base.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>
{% endif %}
</body>
</html>
