{% extends 'blog/partials/base.html' %} {% block content %}
<div class="main">
  <div class="area">
    {% load static %}
    {% load times %}
    <div style="background-image: url({% static 'images/site/repositories.png' %}); width: 720px; height: 173px; background-repeat: no-repeat; background-position: center;">
      {% comment %} Search and Filter {% endcomment %}
      <table style="margin: 0 auto; position: relative; top: 120px;">
        <form action="" method="get">
          <tr>
            <td>
              <p> Search &amp; Filter: &emsp;</p>
            </td>
            <td>
              <input type="text" name="search" placeholder="Search Term" value="{{ search }}" autocomplete="off">
            </td>
            <td>
              <select name="items">
                <option value="10" {% if items == 10 %}selected{% endif %}>10</option>
                <option value="25" {% if items == 25 %}selected{% endif %}>25</option>
                <option value="50" {% if items == 50 %}selected{% endif %}>50</option>
                <option value="100" {% if items == 100 %}selected{% endif %}>100</option>
              </select>
            </td>
            <td>
              <select name="sort">
                <option value="full_name" {% if sort == 'full_name' %}selected{% endif %}>Name</option>
                <option value="created" {% if sort == 'created' %}selected{% endif %}>Created</option>
                <option value="updated" {% if sort == 'updated' %}selected{% endif %}>Updated</option>
                <option value="pushed" {% if sort == 'pushed' %}selected{% endif %}>Pushed</option>
                <option value="stars" {% if sort == 'stars' %}selected{% endif %}>Stars</option>
              </select>
            </td>
            <td>
              <select name="direction">
                <option value="asc" {% if direction == 'asc' %}selected{% endif %}>Ascending</option>
                <option value="desc" {% if direction == 'desc' %}selected{% endif %}>Descending</option>
              </select>
            </td>
            <td>
              <input type="submit" value="Go" style="position: relative; top: -2px;">
            </td>
          </tr>
        </form>
      </table>
    </div>
  </div>
  <hr>
  <div class='repositories' style="width: 720px;">
    <table style="width=720px; margin: 0 auto; table-layout: fixed;">
      {% for repo in repos %}
        <tr>
          <td><a href="{% url 'dev_status:repo' repo.name %}">
              <img src="{% url 'ignis:cover_image' repo.name %}.gif" style="display: inline-block; margin-right: 10px;" class="zoom" border="0">
            </a>
          </td>
          <td>
        <p style="font-size: 20px; font-weight: bold;"><a href="{% url 'dev_status:repo' repo.name %}">{{ repo.name }}</a></p>
        <p style="font-size: 15px;">{{ repo.description }}</p>
        
        </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="pagination">
    <center>
    <table style="margin: 0 auto; border-spacing: 5px; border-collapse: separate;">
      <tr>
        {% if page == 1 %}
          <td class="page page-disabled"><a href="#">&laquo;</a></td>
          <td class="page page-disabled" style="margin-right: 15px;"><a href="#">&lsaquo;</a></td>
        {% else %}
          <td class="page"><a href="{% url 'dev_status:home'%}?search={{ search }}&items={{ items }}&filter={{ filter }}&sort={{ sort }}&direction={{ direction }}&page=1">&laquo;</a></td>
          <td class="page" style="margin-right: 15px;"><a href="{% url 'dev_status:home'%}?search={{ search }}&items={{ items }}&filter={{ filter }}&sort={{ sort }}&direction={{ direction }}&page={{ page|add:-1 }}">&lsaquo;</a></td>
        {% endif %}
        <td class="page-separator"> </td>
        {% for i in num_pages|times  %}
          <td class="page {% if i == page %}page-active{% endif %}"><a href="{% url 'dev_status:home'%}?search={{ search }}&items={{ items }}&filter={{ filter }}&sort={{ sort }}&direction={{ direction }}&page={{ i }}">{{ i }}</a></td>
        {% endfor %}
        <td class="page-separator"> </td>
        {% if page == num_pages %}
          <td class="page page-disabled" style="margin-left: 15px;"><a href="#">&rsaquo;</a></td>
          <td class="page page-disabled"><a href="#">&raquo;</a></td>
        {% else %}
          <td class="page" style="margin-left: 15px;"><a href="{% url 'dev_status:home'%}?search={{ search }}&items={{ items }}&filter={{ filter }}&sort={{ sort }}&direction={{ direction }}&page={{ page|add:1 }}">&rsaquo;</a></td>
          <td class="page"><a href="{% url 'dev_status:home'%}?search={{ search }}&items={{ items }}&filter={{ filter }}&sort={{ sort }}&direction={{ direction }}&page={{ num_pages }}">&raquo;</a></td>
        {% endif %}
      </tr>
    </table>
    </center>
  </div>

    {% comment %} {% if num_pages and page %}
        <div class="pagination">
            {% if page == 1 %}
                <span class="page page-disabled"><a href="#">&laquo;</a></span>
                <span class="page page-disabled" style="margin-right: 15px;"><a href="#">&lsaquo;</a></span>
            {% else %}
                <span class="page"><a href="{% url 'dev_status:home'%}?search={{ search }}&items={{ items }}&filter={{ filter }}&sort={{ sort }}&direction={{ direction }}&page=1">&laquo;</a></span>
                <span class="page" style="margin-right: 15px;"><a href="{% url 'dev_status:home'%}?search={{ search }}&items={{ items }}&filter={{ filter }}&sort={{ sort }}&direction={{ direction }}&page={{ page|add:-1 }}">&lsaquo;</a></span>
            {% endif %}
            <span class="page-separator"> </span>
            {% for i in num_pages|times  %}
                <span class="page {% if i == page %}page-active{% endif %}"><a href="{% url 'dev_status:home'%}?search={{ search }}&items={{ items }}&filter={{ filter }}&sort={{ sort }}&direction={{ direction }}&page={{ i }}">{{ i }}</a></span>
            {% endfor %}
            <span class="page-separator"> </span>
            {% if page == num_pages %}
                <span class="page page-disabled" style="margin-left: 15px;"><a href="#">&rsaquo;</a></span>
                <span class="page page-disabled"><a href="#">&raquo;</a></span>
            {% else %}
                <span class="page" style="margin-left: 15px;"><a href="{% url 'dev_status:home'%}?search={{ search }}&items={{ items }}&filter={{ filter }}&sort={{ sort }}&direction={{ direction }}&page={{ page|add:1 }}">&rsaquo;</a></span>
                <span class="page"><a href="{% url 'dev_status:home'%}?search={{ search }}&items={{ items }}&filter={{ filter }}&sort={{ sort }}&direction={{ direction }}&page={{ num_pages }}">&raquo;</a></span>
            {% endif %}
        </div>
    {% endif %} {% endcomment %}
    </div>
</div>
{% endblock %}
