{% extends 'blog/partials/base.html' %} {% block content %} {% load static %}
<style>
  .highlight {
    max-width: 680px;
  }

  table td.linenos {
    padding: 0;
  }
</style>
<img
  style="width: 730px; display: block; margin: 40px auto 20px auto"
  src="https://socialify.thatcomputerscientist.com/luciferreeves/{{repo}}/png?font=KoHo&forks=1&issues=1&language=1&language2=1&pattern=Circuit%20Board&pulls=1&stargazers=1&theme=Dark"
  alt="Socialify"
/>
{% if parent is not None %}
<p>
  <span title="Go to parent directory" style="margin-right: 5px">
    <img
      src="{% static 'images/site/icons/folder.gif' %}"
      alt="Folder"
      style="display: inline-block; vertical-align: middle; height: 16px"
    />
  </span>
  <a
    href="{% if parent == '' %}{% url 'dev_status:repo' repo %}{% else %}{% url 'dev_status:repo-path' repo parent %}{% endif %}"
    >..</a
  >
  {% endif %}
</p>
{% if files and "byteSize" not in files %}
<table id="file-list" width="100%">
  <thead>
    <tr style="margin-bottom: 10px; border-bottom: 1px solid #ddd">
      <th>Name</th>
      <th>Last Commit</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for file in files %}
    <tr>
      <td>
        {% if file.type == 'tree' %}
        <span title="Directory" style="margin-right: 5px">
          <img
            src="{% static 'images/site/icons/folder.gif' %}"
            alt="Folder"
            style="display: inline-block; vertical-align: middle; height: 16px"
          />
        </span>
        {% else %}
        <span title="File" style="margin-right: 5px">
          <img
            src="{% static 'images/icons/notepad_file-2.png' %}"
            alt="File"
            style="display: inline-block; vertical-align: middle; height: 16px"
          />
        </span>
        {% endif %}
        <a href="{% url 'dev_status:repo-path' repo file.path %}"
          >{{ file.name }}</a
        >
      </td>
      <td>{{ file.commit.message|truncatechars:50 }}</td>
      <td>{{ file.commit.committedDate }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% if "byteSize" in files and not files.isBinary %}
<div
  style="
    background: #272727a3;
    border: 1px solid #434343;
    border-radius: 8px 8px 2px 2px;
  "
>
  <div
    style="
      background: #353535;
      padding: 0px 10px;
      border-radius: 8px 8px 0px 0px;
    "
  >
    <h4 style="margin: 0">
      Viewing
      <a href="{% url 'dev_status:repo-path' repo files.path %}"
        >{{ files.name }}</a
      >
      <pre style="display: inline-block; margin-left: 10px">
{{ files.lines }} lines ({{ files.loc }} loc) • {{ files.size }}</pre
      >
    </h4>
  </div>
  {{files.text|safe}}
</div>

  {% comment %}
  <p>
    <span title="File" style="margin-right: 5px">
      <img
        src="{% static 'images/icons/notepad_file-2.png' %}"
        alt="File"
        style="display: inline-block; vertical-align: middle; height: 16px"
      />
    </span>
    <a href="{% url 'dev_status:repo-path' repo files.path %}"
      >{{ files.name }}</a
    >
    - {{ files.size }}
  </p>

  <pre>{{ files.text }}</pre>
  {% endcomment %} {% endif %} {% endblock %}
</div>
