/* Login Area Container */
#login-area {
  width: 200px;
  height: 280px;
  position: relative;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 200px 280px;
  padding: 0;
  border: 0;
}

/* Login Form */
#login-form {
  display: block;
  position: relative;
  top: 118px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
  display: block;
  width: 144px;
  margin: 5px auto;
  padding: 5px 8px;
  font-weight: bold;
  color: #4a2e6f;
  background: transparent;
  border-radius: 4px;
}

#login-form input::placeholder {
  color: #4a2e6f;
  font-weight: normal;
}

#login-form input[type="submit"] {
  position: absolute;
  top: 96px;
  left: 48px;
  width: 106px;
  height: 22px;
  background: transparent;
  border-radius: 2px;
  cursor: pointer;
}

/* Autofill Override */
#login-form input:-webkit-autofill,
#login-form input:-webkit-autofill:hover,
#login-form input:-webkit-autofill:focus,
#login-form input:-webkit-autofill:active {
  transition: background-color 1s ease-in 2000s;
}

/* Error Messages */
#login-error {
  position: relative;
}

#login-error>.messageBox {
  position: absolute;
  top: -100px;
  left: -140px;
  z-index: 2;
  width: 250px;
  height: 166px;
  background-size: 250px 166px;
}

#login-error>.RFEERR {
  background: url("../images/backgrounds/login-messages/RFEERR.png") no-repeat;
}

#login-error>.IUOPERR {
  background: url("../images/backgrounds/login-messages/IUOPERR.png") no-repeat;
}

#login-error>.ENVERR {
  background: url("../images/backgrounds/login-messages/ENVERR.png") no-repeat;
}

#login-error>.VESENDERR {
  background: url("../images/backgrounds/login-messages/VESENDERR.png") no-repeat;
}

#login-error>.VESENT {
  background: url("../images/backgrounds/login-messages/VESENT.png") no-repeat;
}

#login-error>.VESUCCESS {
  background: url("../images/backgrounds/login-messages/VESUCCESS.png") no-repeat;
}

/* Login Area Button Styles */
#login-area>#register-now-button,
#login-area>#forgot-password-button {
  display: block;
  height: 12px;
  cursor: pointer;
  border-radius: 2px;
  position: absolute;
  background: transparent;
}

#login-area>#register-now-button {
  bottom: 23px;
}

#login-area>#forgot-password-button {
  bottom: 85px;
}

#user-area {
  background: url("../../images/core/backgrounds/user-area.png") no-repeat;
  background-size: 200px 250px;
  width: 200px;
  height: 196px;
  max-height: 250px;
  position: relative;
}

.user-items-container {
  position: relative;
  left: 78px;
  margin-top: 20px;
  border: 8px solid transparent;
  padding: 4px;
  border-image: url("../../images/core/backgrounds/user-area-border.jpg") 27 round;
  width: 122px;
}

.user-item {
  display: flex;
  align-items: center;
  margin: 4px 0px;
}

.user-item img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.user-title {
  font-size: 14px;
  position: relative;
  left: 78px;
  top: 10px;
}

.user-avatar {
  width: 72px;
  height: 72px;
  /* border: solid 2px #8d8dff; */
  padding: 4px;
  position: absolute;
  bottom: 0;
  border-radius: 4px;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;

}