{% extends 'blog/partials/base.html' %} {% block content %}
<h2 style="margin-top:0px;">Archives</h2>
{% load static %}
{% if archives %}
<div id="archives-area">
    <ul>
        {% for archive in archives %}
        <li>
            <span>
                <img src="{% static 'images/site/icons/cabinet.gif' %}" alt="Archive" border="0">
            </span>
            <span>
                <a href="{% url 'blog:archives' %}/{{ archive | date:"F_Y" }}">
                    {{ archive | date:"F Y" }}
                </a>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>No archives found.</p>
{% endif %}

{% endblock %}

