{% extends 'blog/partials/base.html' %} {% block content %}

{% if type == 'articles' %}
<h2 style="margin-top:0px;"> All Posts</h2>
{% elif type == 'articles-archive' %}
<h2 style="margin-top:0px;"> Posts made in {{ date }}</h2>
{% elif type == 'articles-category' %}
<h2 style="margin-top:0px;"> Posts made in Category: {{ category }}</h2>
{% endif %}


{% if posts %}
<form id="filters" method="get">
    <span><b>Filters:</b>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <label for="order_by">Order By: </label>
    <select name="order_by">
        <option value="date" {% if order_by == 'date' %}selected{% endif %}>Date</option>
        <option value="title" {% if order_by == 'title' %}selected{% endif %}>Title</option>
    </select>
    <label for="direction">&nbsp;&nbsp;Direction: </label>
    <select name="direction">
        <option value="asc" {% if direction == 'asc' %}selected{% endif %}>Ascending</option>
        <option value="desc" {% if direction == 'desc' %}selected{% endif %}>Descending</option>
    </select>
    {% if type != 'articles-category' %}
    <label for="category">&nbsp;&nbsp;In Category: </label>
    <select name="category">
        <option value="all" {% if category == 'all' %}selected{% endif %}>All</option>
        {% for cat in categories %}
        <option value="{{ cat.slug }}" {% if category == cat.slug %}selected{% endif %}>{{ cat.name }}</option>
        {% endfor %}
    </select>
    {% endif %}
    <span>&nbsp;&nbsp;</span>
    <input type="submit" value="Apply" class="button button-special" />
</form>
<div id="recent-posts" class="mtctitem">
    <br>
    {% include 'blog/partials/post_list.html' %}
</div>
<div>
    <table id="pagination" style="clear: both;">
        <tr>
        {% if page == 1 %}
            <td><a class="disabled">&laquo;</a></td>
            <td style="margin-right: 15px;"><a class="disabled">&lsaquo;</a></td>
        {% else %}
        <td><a href="{% url 'blog:articles' %}?page=1&order_by={{ order_by }}&direction={{ direction }}&category={{ category }}">&laquo;</a></td>
        <td style="margin-right: 15px;"><a href="{% url 'blog:articles' %}?page={{ page|add:'-1' }}&order_by={{ order_by }}&direction={{ direction }}&category={{ category }}">&lsaquo;</a></td>
      {% endif %}
      {% load times %}
      {% for i in num_pages|times  %}
      <td><a {% if i == page %}class="active"{% endif %} href="{% url 'blog:articles' %}?page={{ i }}&order_by={{ order_by }}&direction={{ direction }}&category={{ category }}">{{ i }}</a></td>
      {% endfor %}
      {% if page == num_pages %}
        <td style="margin-left: 15px;" class="disabled"><a class="disabled">&rsaquo;</a></td>
        <td><a class="disabled">&raquo;</a></td>
      {% else %}
        <td style="margin-left: 15px;"><a href="{% url 'blog:articles' %}?page={{ page|add:'1' }}&order_by={{ order_by }}&direction={{ direction }}&category={{ category }}">&rsaquo;</a></td>
        <td><a href="{% url 'blog:articles' %}?page={{ num_pages }}&order_by={{ order_by }}&direction={{ direction }}&category={{ category }}">&raquo;</a></td>
      {% endif %}
    </tr>
  </table>
</div>
{% include 'blog/partials/mathjax.html' %}
{% else %}
    <p>No posts found.</p>
{% endif %}
{% endblock %}