{% extends 'blog/partials/base.html' %} {% block content %}

{% if type == 'articles' %}
<h2 style="margin-top:0px;"> All Posts</h2>
{% elif type == 'articles-archive' %}
<h2 style="margin-top:0px;"> Posts made in {{ date }}</h2>
{% elif type == 'articles-category' %}
<h2 style="margin-top:0px;"> Posts made in Category: {{ category }}</h2>
{% endif %}


{% if posts %}
<form id="filters" method="get">
    <span><b>Filters:</b>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <label for="order_by">Order By: </label>
    <select name="order_by">
        <option value="date" {% if order_by == 'date' %}selected{% endif %}>Date</option>
        <option value="title" {% if order_by == 'title' %}selected{% endif %}>Title</option>
    </select>
    <label for="direction">&nbsp;&nbsp;Direction: </label>
    <select name="direction">
        <option value="asc" {% if direction == 'asc' %}selected{% endif %}>Ascending</option>
        <option value="desc" {% if direction == 'desc' %}selected{% endif %}>Descending</option>
    </select>
    {% if type != 'articles-category' %}
    <label for="category">&nbsp;&nbsp;In Category: </label>
    <select name="category">
        <option value="all" {% if category == 'all' %}selected{% endif %}>All</option>
        {% for cat in categories %}
        <option value="{{ cat.slug }}" {% if category == cat.slug %}selected{% endif %}>{{ cat.name }}</option>
        {% endfor %}
    </select>
    {% endif %}
    <span>&nbsp;&nbsp;</span>
    <input type="submit" value="Apply" class="button button-special" />
</form>
<div id="recent-posts" class="mtctitem">
    {% for post in posts %}
      <br>
      <div class="post" style="clear: both;">
        <div style="text-align: justify; margin-bottom: 0px;">
          <span>
            <img src="{% url 'ignis:post_image' '320' post.id %}.gif" alt="Cover image for {{ post.title }}" style="float: left; width: 320px; padding: 0px 13px 0px 0px">
          </span>
            <h1 style="margin-top: 0px; margin-bottom: 0px;">
                <a href="{% url 'blog:post' post.slug %}">{{ post.title }}</a>
            </h1>
            <br>
              <span style="font-size: 11px">Posted on <em><u>{{ post.date | date:"M d, Y" }}</u></em> by <em><a href="{% url 'blog:user_activity' post.author %}">{{ post.author }}</a> in <a href="{% url 'blog:categories' %}/{{ post.category.slug }}">{{ post.category }}</a></em></span>
            <br><br>
            <span style="font-size: 11px">Tags: </span>
            {% for tag in post.tags.all %}
                <a href="#" class="tag">{{ tag.name|title }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
            <br><br>
            <hr>
            {{ post.excerpt | safe }}
        </div>
        <div class="post-actions" style="clear: both;">
          <a href="{% url 'blog:post' post.slug %}">Continue Reading</a> | <a href="{% url 'blog:post' post.slug %}#comments">{{ post.num_comments }} Comments</a>
        </div>
      </div>
      <br>
    {% endfor %}
</div>
<div>
    <table id="pagination" style="clear: both;">
        <tr>
        {% if page == 1 %}
            <td><a class="disabled">&laquo;</a></td>
            <td style="margin-right: 15px;"><a class="disabled">&lsaquo;</a></td>
        {% else %}
        <td><a href="{% url 'blog:articles' %}?page=1&order_by={{ order_by }}&direction={{ direction }}&category={{ category }}">&laquo;</a></td>
        <td style="margin-right: 15px;"><a href="{% url 'blog:articles' %}?page={{ page|add:'-1' }}&order_by={{ order_by }}&direction={{ direction }}&category={{ category }}">&lsaquo;</a></td>
      {% endif %}
      {% load times %}
      {% for i in num_pages|times  %}
      <td><a {% if i == page %}class="active"{% endif %} href="{% url 'blog:articles' %}?page={{ i }}&order_by={{ order_by }}&direction={{ direction }}&category={{ category }}">{{ i }}</a></td>
      {% endfor %}
      {% if page == num_pages %}
        <td style="margin-left: 15px;" class="disabled"><a class="disabled">&rsaquo;</a></td>
        <td><a class="disabled">&raquo;</a></td>
      {% else %}
        <td style="margin-left: 15px;"><a href="{% url 'blog:articles' %}?page={{ page|add:'1' }}&order_by={{ order_by }}&direction={{ direction }}&category={{ category }}">&rsaquo;</a></td>
        <td><a href="{% url 'blog:articles' %}?page={{ num_pages }}&order_by={{ order_by }}&direction={{ direction }}&category={{ category }}">&raquo;</a></td>
      {% endif %}
    </tr>
  </table>
</div>
<script type="text/javascript" src="http{% if request.is_secure %}s{% endif %}://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML-full">
</script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
        }
    });
</script>
{% else %}
    <p>No posts found.</p>
{% endif %}
{% endblock %}