{% extends 'blog/partials/base.html' %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div id="welcome">
  <p>
    Welcome to the home of That Computer Scientist. My name is <a href="{% url 'blog:user_activity' 'bobby' %}">@bobby</a>, and this is my personal
    website. I aim to build a retro looking personal website, where I share my thoughts, ideas, and experiences through articles, and will showcase some cool nostalgic features and tools.
  </p>
  <p>
  Please note that I am continuously working on this site, and it is still under construction. So, not all features are available yet, and some features may not work as intended.
  </p>
  <p>
    Also, To participate around various sections of the site, you will need to <a href="{% url 'blog:register' %}">register</a> for an account. I hope you enjoy your stay here.
  </p>
</div>
<img src="{% static 'images/gifs/construction.gif' %}" style="width: 730px;">
<div id="announcements">
  <img src = "{% static 'images/gifs/update.gif' %}" style="height: 14px;" id="update-gif">
  {% if announcements is not None %}
  <marquee behavior="scroll" direction="up" scrollamount="2" scrolldelay="20" onmouseover="this.stop()" onmouseout="this.start()">
    <ul>
      {% for announcement in announcements %}
      <li>
        <span>
          {% if announcement.is_new %}
            <img class="ac" src="{% static 'images/gifs/new_announcement.gif' %}"/>
          {% else %}
            <img class="ac2" src="{% static 'images/gifs/hand.gif' %}"/>
          {% endif %}
        </span>
        <span>
          <b>{{ announcement.created_at | date:"M d, Y" }}</b>: {{ announcement.content | safe }}
        </span>
      </li>
      <br><br>
      {% endfor %}
    </ul>
  </marquee>
  {% endif %}
</div>

{% comment %}  {% endcomment %}
<div id="fake-banner-ad" class="mtctitem">
  {% comment %} <h2>Advertisement</h2> {% endcomment %}
  {% load ad %}
  <img src="{{'banner'|ad }}" alt="Ad" style="width: 720px;" border="0"/>
</div>
{% if posts %}
<div id="recent-posts" class="mtctitem">
  <h2>Recent Posts</h2>
  {% include 'blog/partials/post_list.html' %}
</div>
{% include 'blog/partials/mathjax.html' %}
{% endif %}

{% endblock %}
