{% extends 'blog/partials/base.html' %} {% block content %}
<div class="main">
  <div class="alert">
    {% comment %} <h1 class="center">That Computer Scientist</h1> {% endcomment %}
    <p>
      Welcome to the home of That Computer Scientist. This is my personal
      website where I share all of my thoughts, ideas, and experiences. To know
      more about me, please visit my <a href="/about">About</a> page. If you
      would like to connect with me, please visit my
      <a href="/contact">Contact</a> page. Please use the sidebar to navigate
      the site.
    </p>
  </div>
  <br />
  <div class="alert" style="background-color: rgb(13 44 33)">
    <p>
      This website is a work in progress. I am currently working on adding more
      features to this website. I aim to build a retro looking personal website,
      where I will share my articles and Ideas, which will be built entirely
      around the idea of "collaborative writing" — where anyone can write new
      articles or edit existing ones.
    </p>
  </div>
    {% if last_post %}
      <h3 style="margin-bottom: 0px"><em>Recent Posts</em></h3>
      <hr />
      <ul>
      <li>
        <h1 style="margin-bottom: 12px; font-size: 2rem;"><a href="{% url 'blog:post' last_post.slug %}">{{ last_post.title }}</a></h1>
        <p style="line-height: 1.6em;">
            Latest post on <em><u>{{ last_post.date | date:"M d, Y" }}</u></em> by <em><a href="#">{{ last_post.author }}</a> in <a href="#">{{ last_post.category }}</a></em>
        </p>
        <hr>
        <div class="article-body">
          <p>
            {{ first_paragraph | safe }}
          </p>
        </div>
        <p><em><a href="{% url 'blog:post' last_post.slug %}">Click here</a></em> to read more.</p>
        <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
      </li>
    {% endif %}
      {% for post in recent_posts %}
      <li>
        <a href="{% url 'blog:post' post.slug %}">{{ post.title }}</a>
        by <em><a href="#">{{ post.author.username }}</a></em> on {{
        post.date | date:"M d, Y" }}.
      </li>
      {% endfor %}
    </ul>
    <br />
    <h3 style="margin-bottom: 0px"><em>Archives</em></h3>
    <hr />
    <ul>
      {% for archive in archives %}
      <li>
        <a href="#">{{ archive | date:"F Y" }}</a>
      </li>
      {% endfor %}
    </ul>
    <br />
    <h3 style="margin-bottom: 0px"><em>Categories</em></h3>
    <hr />
    <ul>
      {% for category in categories %}
      <li>
        <a href="#">{{ category.name }}</a>
      </li>
      {% endfor %}
    </ul>
</div>
{% endblock %}
