{% extends 'blog/partials/base.html' %} {% block content %}
{% load static %}
<div id="welcome">
  <h2>Welcome</h2>
  <p>
    Welcome to the home of That Computer Scientist. This is my personal
    website where I share all of my thoughts, ideas, and experiences. To know
    more about me, please visit my <a href="#">About</a> page. If you
    would like to connect with me, please visit my
    <a href="#">Contact</a> page. Please use the sidebar to navigate
    the site.
  </p>
  <p>
    This website is a work in progress. I am currently working on adding more
    features to this website. I aim to build a retro looking personal website,
    where I will share my articles and Ideas, and will host some cool features and tools.
  </p>
  <img src="{% static 'images/gifs/construction.gif' %}" style="height:auto; width: 100%;">
</div>

<div id="fake-banner-ad" class="mtctitem">
  <h2>Advertisement</h2>
  {% load ad %}
  <img src="{{'banner'|ad }}" alt="Ad" style="width: 100%; height: auto;" border="0"/>
</div>

{% if announcements is not None %}
<div id="announcements" class="mtctitem">
  <h2><img src = "{% static 'images/gifs/update.gif' %}" style="height: 14px; width: auto;"></h2>
  <marquee behavior="scroll" direction="up" height="250" width="720" scrollamount="2" scrolldelay="10" onmouseover="this.stop()" onmouseout="this.start()">
    <ul style="width: 720px;">
      {% for announcement in announcements %}
      <li>
        <span>
          {% if announcement.is_new %}
            <img class="ac" src="{% static 'images/gifs/new_announcement.gif' %}"/>
          {% else %}
            <img class="ac2" src="{% static 'images/gifs/hand.gif' %}"/>
          {% endif %}
        </span>
        <span>
          <b>{{ announcement.created_at | date:"M d, Y" }}</b>: {{ announcement.content | safe }}
        </span>
      </li>
      <br><br>
      {% endfor %}
    </ul>
  </marquee>
</div>
{% endif %}

{% if recent_posts %}
<div id="recent-posts" class="mtctitem">
  <h2>Recent Posts</h2>
  {% for post in recent_posts %}
    <div class="post" style="clear: both;">
      <h1>
        <a href="{% url 'blog:post' post.slug %}">{{ post.title }}</a>
      </h1>
      <p>
        Posted on <em><u>{{ post.date | date:"M d, Y" }}</u></em> by
        <em><a href="#">{{ post.author }}</a> in</em>
        <em><a href="#">{{ post.category }}</a></em>
      </p>
      <p style="text-align: justify; font-size: 13px; margin-bottom: 0px;">
        <span>
          <img src="{% url 'ignis:post_image' post.id %}?s=200" alt="Cover image for {{ post.title }}" style="float: left; margin-right: 10px; margin-bottom: 10px; width: 200px; height: auto;">
        </span>
        <span>
          {{ post.excerpt | safe }}
        </span>
      </p>
      <div class="post-actions" style="clear: both;">
        <a href="{% url 'blog:post' post.slug %}">Continue Reading</a> | <a href="{% url 'blog:post' post.slug %}#comments">{{ post.num_comments }} Comments</a>
      </div>
    </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
