{% extends 'blog/partials/base.html' %} {% block content %}
{% load static %}
<div id="article">
    <img src="{% url 'ignis:post_image' '730' post.id %}.gif" alt="Cover Image" style="width: 730px; margin: 0 auto; display: block;">
    <h1>{{ post.title }}</h1>
    <p style="line-height: 1.6em;">
        Posted on <em><u>{{ post.date | date:"M d, Y" }}</u></em> by <em><a href="{% url 'blog:user_activity' post.author %}">{{ post.author }}</a> in <a href="#">{{ post.category }}</a></em>
    </p>
    <p>Tags:
        {% for tag in tags %}
            <a href="#" class="tag">{{ tag.name }}</a>
        {% endfor %}
    </p>
    <hr>
    <div id="article-body">{{ post.body | safe }}</div>
</div>


<div id="comments" style="clear: both;" class="mtsbitem">
    <h2>Comments</h2>
    {% for comment in comments %}
        <div id="comment-{{ comment.id }}">
            <table>
                <tr>
                    <td style="width: 60px; vertical-align: top;">
                        <img src="{% static 'images/avatars/' %}{{ comment.avatar_url }}.png" alt="Profile Picture" style="width: 50px; height: auto;">
                    </td>
                    <td style="vertical-align: top; width: 668px;">
                        <div style="margin-bottom: 13px; border-bottom: dashed 1px white; padding-bottom: 13px;">
                            <a href="{% url 'blog:user_activity' comment.user.username %}">{{ comment.user.username }}</a> on <em>{{ comment.created_at | date:"M d, Y" }}</em>
                            {% if comment.edited %}
                                <em>(Edited)</em>
                            {% endif %}
                            {% if comment.user == user %}
                                &nbsp;&nbsp;
                                <a href="javascript:;" onclick="editComment({{ comment.id }})">Edit</a>
                                &nbsp;&nbsp;
                                <a href="{% url 'blog:delete_comment' post.slug comment.id %}" onclick="return confirm('Are you sure you want to delete this comment?')">Delete</a>
                            {% endif %}
                        </div>
                        <div id="comment-body-{{ comment.id }}" class="comment">
                            {{ comment.processed_body|safe }}
                        </div>
                        {% if comment.user == user %}
                        <div id="edit-form-{{ comment.id }}" style="display: none; margin-bottom: 20px;">
                            <form action="{% url 'blog:edit_comment' post.slug %}" method="POST">
                                {% csrf_token %}
                                <input type = "hidden" name="comment_id" value="{{ comment.id }}">
                                <textarea name="body" id="body" cols="78" rows="10" style="width: 640px; display: block; margin-bottom: 10px;">{{ comment.body }}</textarea>
                                <input type="submit" value="Update" class="button button-special">
                                <input type="button" value="Cancel" onclick="cancelEdit({{ comment.id }})" class="button">
                            </form>
                        </div>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
</div>

{% if user.is_authenticated %}
<div id="new-comment">
    <h2>Leave a Comment</h2>
    <div id="comment-tips" style="background-color: #2e1936;padding: 10px;margin-bottom: 15px;border-radius: 6px;">
        <p>Text Markup Tips:</p>
        <div id="tips">
            <ul style="list-style-type: disc; margin: 0;padding: 0; margin: 5px 0px 0px 30px;">
                <li>Wrap text in double underscores (__) to make it <i>italic</i>.
                    <br>
                    &nbsp;&nbsp;e.g. <code>__italic__</code>
                    &nbsp;&nbsp;shortkey: <kbd>Ctrl or Cmd + I</kbd>
                    <br><br>
                </li>
                <li>Wrap text in double asterisks (**) to make it <b>bold</b>.
                    <br>
                    &nbsp;&nbsp;e.g. <code>**bold**</code>
                    &nbsp;&nbsp;shortkey: <kbd>Ctrl or Cmd + B</kbd>
                    <br><br>
                </li>
                <li>Wrap text in double tildes (~~) to <s>strikethrough</s> it.
                    <br>
                    &nbsp;&nbsp;e.g. <code>~~strikethrough~~</code>
                    &nbsp;&nbsp;shortkey: <kbd>Ctrl or Cmd + D</kbd>
                    <br><br>
                </li>
                <li>Wrap text in triple backticks (```) to make it a code block.
                    <br>
                    &nbsp;&nbsp;e.g. <code>```code block```</code>, 
                    &nbsp;&nbsp;shortkey: <kbd>Ctrl or Cmd + K</kbd>
                    <br><br>
                </li>
            </ul>
            <p style="margin-top: -7px;">Any links, images or other markup will be kept as plain text. Also, free speech is good and all, but please keep it civil. Sufficient JavaScript support will be required to bind shortkeys. Please type the markup manually if you are on an older browser.</p>
        </div>
    </div>
    <form action="{% url 'blog:comment' post.slug %}" method="POST">
        {% csrf_token %}
        <textarea name="comment" id="comment" cols="88" rows="10" style="width: 710px; display: block; margin-bottom: 15px;" placeholder="Your comment here..."></textarea>
        <input type="submit" value="Submit" class="button button-special">
    </form>
</div>
{% else %}
<div id="new-comment" class="mtsbitem">
    <h2>Leave a Comment</h2>
    <p><em>You must be logged in to leave a comment.</em></p>
</div>
{% endif %}

<script>
    function editComment(id) {
        document.getElementById('comment-body-' + id).style.display = 'none';
        document.getElementById('edit-form-' + id).style.display = 'block';
    }

    function cancelEdit(id) {
        document.getElementById('comment-body-' + id).style.display = 'block';
        document.getElementById('edit-form-' + id).style.display = 'none';
    }

    // We are aiming to keep the JS to ES3 for compatibility with older browsers.
    // Get all textareas and bind the shortkeys.
    var textareas = document.getElementsByTagName('textarea');

    for (var i = 0; i < textareas.length; i++) {
        textareas[i].addEventListener('keydown', function(e) {
            if (e.keyCode == 66 && (e.ctrlKey || e.metaKey)) {
                e.preventDefault();
                var start = this.selectionStart;
                var end = this.selectionEnd;
                this.value = this.value.substring(0, start) + '**' + this.value.substring(start, end) + '**' + this.value.substring(end);
                this.selectionStart = start + 2;
                this.selectionEnd = end + 2;
            } else if (e.keyCode == 73 && (e.ctrlKey || e.metaKey)) {
                e.preventDefault();
                var start = this.selectionStart;
                var end = this.selectionEnd;
                this.value = this.value.substring(0, start) + '__' + this.value.substring(start, end) + '__' + this.value.substring(end);
                this.selectionStart = start + 2;
                this.selectionEnd = end + 2;
            } else if (e.keyCode == 68 && (e.ctrlKey || e.metaKey)) {
                e.preventDefault();
                var start = this.selectionStart;
                var end = this.selectionEnd;
                this.value = this.value.substring(0, start) + '~~' + this.value.substring(start, end) + '~~' + this.value.substring(end);
                this.selectionStart = start + 2;
                this.selectionEnd = end + 2;
            } else if (e.keyCode == 75 && (e.ctrlKey || e.metaKey)) {
                e.preventDefault();
                var start = this.selectionStart;
                var end = this.selectionEnd;
                this.value = this.value.substring(0, start) + '```' + this.value.substring(start, end) + '```' + this.value.substring(end);
                this.selectionStart = start + 3;
                this.selectionEnd = end + 3;
            }
        });
    }

    // Bind the tab key to indent textareas by 4 spaces.
    for (var i = 0; i < textareas.length; i++) {
        textareas[i].addEventListener('keydown', function(e) {
            if (e.keyCode == 9) {
                e.preventDefault();
                var start = this.selectionStart;
                var end = this.selectionEnd;
                this.value = this.value.substring(0, start) + '    ' + this.value.substring(end);
                this.selectionStart = start + 4;
                this.selectionEnd = end + 4;
            }
        });
    }
</script>
{% endblock %}
