{% extends 'blog/partials/base.html' %} {% block content %}
<h1 style="margin-top: 0px;">Register for an account</h1>
<p>Register for an account to post your thoughts and get feedback from other users.</p>
<hr>
<form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" style="display: none;">
    <table id="register_form">
        {{ form.as_table }}
    </table>
    <p><img width="160" height="60" src="{% url 'ignis:captcha_image' captcha %}" alt="Captcha" id="captcha"></p>
    <input type="hidden" name="expected_captcha" value="{{ captcha }}">
    <input type="submit" value="Register" class="button button-special">
</form>
<br><br>
<p>By registering on this site, you agree to the <a href="{% url 'blog:policy' %}">Terms of Service</a>.</p>
{% for message in messages %}
    {% if 'accountCreated' in message.tags %}
        <p><small class="success">{{ message.message }}</small></p>
    {% endif %}
{% endfor %}
{% endblock %}


