{% extends 'blog/partials/base.html' %} {% block content %}
<h1 style="margin-top: 30px">Reset your Password</h1>
<p>
  Forgot your password? No problem! Just enter your email address below, (the
  email you registered with) and I will send you a link to reset your password.
</p>
<hr />
<form method="post">
  <input
    type="hidden"
    name="csrfmiddlewaretoken"
    value="{{ csrf_token }}"
    style="display: none"
  />
  <table id="resetpass_form">
    {{ form.as_table }}
  </table>
  <br />
  <input type="submit" value="Reset password" class="button button-special" />
</form>
<br /><br />
<p><i>Anonymous users cannot reset their password.</i></p>
{% for message in messages %} {% if 'passwordReset' in message.tags %}
<p><small class="success">{{ message.message }}</small></p>
{% endif %} {% endfor %} {% endblock content %}
