{% extends 'blog/partials/base.html' %} {% block content %}

<h2 class="mtctitem">I see cookies! Wait, Do you track me?</h2>
<p>This site uses cookies to store information on your computer. These cookies are required to enable the login functionality of the site. They are not used for tracking purposes.</p>
<p><b>Update:</b> W.E.F May 27, 2023, this site will employ <a href="https://analytics.google.com/analytics/web/">Google Analytics</a> to track user activity. Also Cloudflare's Browser Insights will be used to track performance metrics.</p>

<h2 class="mtsbitem">Also, do not sell my data!</h2>
<p>Any personal information you provide here will be kept confidential and will not be sold, rented, loaned, or otherwise disclosed. Any information you provide will be held with the utmost care, and will not be used in ways that you have not consented to. If you have any questions, please feel free to contact me at <a href="mailto:webmaster@thatcomputerscientist.com">webmaster@thatcomputerscientist.com</a>.</p>

<h2 class="mtsbitem">What are these Advertisements?</h2>
<p>As you know, one of the main goals to this site is to maintain a retro look. The advertisements are a part of that. The ads shown on this website are fake and purely for aesthetic purposes. They are just images of ads from the early days of the internet to spark the nostalgia. I do not make any money from these ads.</p>

<h2 class="mtsbitem">I wanna say something in the comments...</h2>
<p>Not so fast! Before you post a comment, know that comments are moderated. I will employ general moderation tools to prevent spam and other undesirable content. I also reserve the right to edit or delete any comments submitted to this site without notice due to any of the following reasons:</p>
<ul style="margin: 0px; padding-left: 30px;">
<li>Comments deemed to be spam or questionable spam</li>
<li>Comments including profanity</li>
<li>Comments containing language or concepts that could be deemed offensive</li>
<li>Comments that attack a group or individual</li>
<li>Comments that harass other posters</li>
<li>Comments that are off-topic</li>
</ul>

<p>Comments are not for promoting your articles or other sites. Spam will be deleted and repeated offenses will result in a ban.</p>

<p>Comments are not for asking questions or help. I may open a forum soon, if I ever wanted to entend the features on the site. Also, remember that <a href="https://www.stackoverflow.com">Stack Overflow</a> and <a href="https://www.reddit.com/r/learnprogramming">Reddit</a> are your best friends.</p>


<h2 class="mtsbitem">Rules, you say? Anything else?</h2>
<p>Yes, by using this site, you agree to the following terms and conditions:</p>
<ul style="margin: 0px; padding-left: 30px;">
<li>You will not post any content that is illegal, obscene, defamatory, threatening, harassing, abusive, hateful, or embarrassing to any other person or entity as determined by us.</li>
<li>You will not post any content that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party.</li>
<li>You will not post any unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes, or any other form of solicitation.</li>
<li>You will not post any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment.</li>
<li>You will not impersonate any person or entity, including, but not limited to, a blog author, forum leader, guide or host, or falsely state or otherwise misrepresent your affiliation with a person or entity.</li>
<li>You will not forge headers or otherwise manipulate identifiers in order to disguise the origin of any content transmitted through the blog.</li>
<li>You will not post any content that is knowingly false and/or defamatory, inaccurate, abusive, vulgar, hateful, harassing, obscene, profane, sexually oriented, threatening, invasive of a person's privacy, or otherwise violative of any law.</li>
<li>You will not post any content that may infringe any patent, trademark, trade secret, copyright or other proprietary rights of any party.</li>
<li>You will not post any content that contains personal information about another person without that person's explicit consent.</li>
<li>You will not use the blog to advertise or offer to sell or buy any goods or services for any business purpose, unless such blog specifically allows such messages.</li>
</ul>

<h2 class="mtsbitem">Can I scrape, pretty please?</h2>
<p>Scraping is allowed, but please be considerate. I don't want to have to block your IP address.</p>
<p>Also the site employs Cloudflare's Email Obfuscation feature to prevent email addresses from being scraped by bots. This means that email addresses are not visible in the source code of the page. If you are a bot and you are reading this, please don't scrape my email address（＾ｖ＾）</p>



<h2 class="mtsbitem">Am I free to use your content?</h2>

<p>Unless otherwise stated, all content on this site is licensed under the  <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>. Source code is licensed under <a href="http://opensource.org/licenses/MIT">MIT License</a>. Source code available on
    <a href="https://github.com/luciferreeves/thatcomputerscientist"
      >GitHub
    </a>.</p>

<p>You are free to use and share the content on this site as long as you give credit to the author and link back to the original content. You may not use the content for commercial purposes. If you remix, transform, or build upon the source code, you must distribute your contributions under the same license as the original.</p>

<h2 class="mtsbitem">Username Restrictions W.E.F May 27, 2023</h2>
<p>A certain number of restrictions have been placed on usernames. Here's what you need to know:</p>
<ul style="margin: 0px; padding-left: 30px;">
<li><b>Length Restrictions:</b> 4-30 characters, alphanumeric only. (Unchanged)</li>
<li><b>Protected Usernames:</b> Certain usernames like <i>admin</i>, <i>administrator</i>, <i>root</i>, <i>moderator</i>, etc. (non-exhaustive list) are protected and cannot be used for registering an account. (New)</li>
<li><b>Changing Username:</b> Right now, this site does not allow username changes. (Unchanged) There are plans to allow username changes in the future, but it will be limited to once every 30 days. (New)</li>
<li><b>Username Purging:</b> Accounts which have registered and haven't verified their email within 72 hours will be purged and the username will be available for registration again. (New) (Not yet implemented)</li>
</ul>


<h2 class="mtsbitem">Is all the information on this site accurate?</h2>
<p>The information contained in this website is for general information purposes only. The information is provided by <a href="http://www.shi.foo">shi.foo</a> and while I endeavour to keep the information up to date and correct, I make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>

<p>In no event will I be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</p>

<p>Links to external websites are provided as a convenience and for informational purposes only. They should not be construed as an endorsement by me of the content or views of the linked materials.</p>

<p>Through this website you are/will be able to link to other websites which are not under the control of <a href="http://www.shi.foo">shi.foo</a>. I have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</p>

<p>Every effort is made to keep the website up and running smoothly. However, <a href="http://www.shi.foo">shi.foo</a> takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>

<h2 class="mtsbitem">Who gets the final say?</h2>
<p>Me! Okay! I am the supreme overlord of this site. All information on this site is subject to change without notice. I reserve the right to change the terms of service at any time. If you care too much about the terms of service, you should probably not use this site. Okay, all done now. Get out of here!</p>

<h2 class="mtsbitem">Update: July 13, 2023</h2>
<p>The website's new URL is <a href="http://www.shi.foo">shi.foo</a>. The old URL <a href="http://www.thatcomputerscientist.com">thatcomputerscientist.com</a> will be redirected to the new URL. Please update your bookmarks.</p>

{% endblock %}

