{% extends 'blog/partials/base.html' %} {% block content %}
<div class="main">
  <section>
    {% include 'blog_admin/partials/category_topbar.html' %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Category Description</th>
                <th>Category Slug</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>{{ category.slug }}</td>
                    <td>{{ category.created_at }}</td>
                    <td>
                        <a href="{% url 'blog-admin:edit-category' category.id %}">Edit</a>
                        <a href="{% url 'blog-admin:delete-category' category.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if num_pages and page %}
        <div class="pagination">
            {% if page == 1 %}
                <a href="#" class="disabled">&laquo;</a>
                <a href="#" class="disabled">&lsaquo;</a>
            {% else %}
                <a href="{% url 'blog-admin:categories'%}?page=1">&laquo;</a>
                <a href="{% url 'blog-admin:categories'%}?page={{ page|add:-1 }}">&lsaquo;</a>
            {% endif %}
            {% for i in num_pages|make_list  %}
                <a href="{% url 'blog-admin:categories'%}?page={{ i }}">{{ i }}</a>
            {% endfor %}
            {% if page == num_pages %}
                <a href="#" class="disabled">&rsaquo;</a>
                <a href="#" class="disabled">&raquo;</a>
            {% else %}
                <a href="{% url 'blog-admin:categories'%}?page={{ page|add:1 }}">&rsaquo;</a>
                <a href="{% url 'blog-admin:categories'%}?page={{ num_pages }}">&raquo;</a>
            {% endif %}
        </div>
    {% endif %}
    </section>
</div>
{% endblock %}
