{% extends 'blog/partials/base.html' %} {% block content %}
<div class="main">
  <section>
    {% include 'blog_admin/partials/main_section.html' %}
    <form action="{% url 'blog-admin:new-user' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="email">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="email">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="password">Confirm Password</label>
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
      </div>
      <div class="form-group">
        <input style="display:inline-block" type="checkbox" class="form-control" id="is_superuser" name="is_superuser">
        <label style="display:inline-block" for="is_superuser">Superuser</label>
      </div>
      <div class="form-group">
        <input style="display:inline-block" type="checkbox" class="form-control" id="is_staff" name="is_staff">
        <label style="display:inline-block" for="is_staff">Staff</label>
      </div>
      <div class="form-group">
        <input style="display:inline-block" type="checkbox" class="form-control" id="is_active" name="is_active" checked>
        <label style="display:inline-block" for="is_active">Active</label>
      </div>
      <div class="form-group">
        <label for="bio">Bio</label>
        <textarea class="form-control" id="bio" name="bio" placeholder="Bio"></textarea>
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" name="location" placeholder="Location">
      </div>
      <div class="form-group">
        <label for="gravatar_email">Gravatar Email</label>
        <input type="email" class="form-control" id="gravatar_email" name="gravatar_email" placeholder="Gravatar Email">
      </div>
      <div class="form-group">
        <input style="display:inline-block" type="checkbox" class="form-control" id="is_public" name="is_public" disabled>
        <label style="display:inline-block" for="is_public">Public</label>
      </div>
      <div class="form-group">
        <input style="display:inline-block" type="checkbox" class="form-control" id="email_public" name="email_public" disabled>
        <label style="display:inline-block" for="email_public">Email Public</label>
      </div>
      <div class="form-group">
        <input style="display:inline-block" type="checkbox" class="form-control" id="email_verified" name="email_verified">
        <label style="display:inline-block" for="email_verified">Email Verified</label>
      </div>
      <div class="form-group">
        <input type="submit" name="submit" value="Create User" id="submit">
      </div>
  </section>
</div>
{% endblock %}
