{% extends 'blog/partials/base.html' %} {% block content %}
<div class="main">
  <section>
    {% include 'blog_admin/partials/category_topbar.html' %}
    <form action="{% url 'blog-admin:new-category' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" value="{{ category.name }}">
        </div>
        <div class="form-group">
            <label for="slug">Slug</label>
            <input type="text" class="form-control" id="slug" name="slug" placeholder="Enter slug" value="{{ category.slug }}">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter description">{{ category.description }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </section>
</div>
<script>
    function slugify(text) {
        return text.toString().toLowerCase()
            .replace(/\s+/g, '-')           // Replace spaces with -
            .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
            .replace(/\-\-+/g, '-')         // Replace multiple - with single -
            .replace(/^-+/, '')             // Trim - from start of text
            .replace(/-+$/, '');            // Trim - from end of text
    }
    const name = document.getElementById('name');
    const slug = document.getElementById('slug');
    name.addEventListener('keyup', function() {
        slug.value = slugify(name.value);
    });
</script>
{% endblock %}