{% extends 'blog/partials/base.html' %} {% block content %}
{% load static %}
<div class="main">
    <div>
      {% include 'blog_admin/partials/posts_topbar.html' %}
      <h2 {% if not messages %}style="border: none; margin-bottom: 0;"{% endif %}>{{ title }}</h2>
      {% for message in messages  %}
        <div style="text-align:center;padding:0;">
          <p class="{{message.tags}}" style="text-align:center; margin-bottom: 15px;">{{ message }}</p>
        </div>
      {% endfor %}
      <table id="tabular">
        <thead>
          <tr>
            <th style="width: 28px; text-align: center;"></th>
            <th style="width: 90px; text-align: center;">Cover</th>
            <th colspan='1'>Article</th>
            <th>Author</th>
            <th>Created</th>
            <th>Category</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for post in posts %}
          <tr>
            <td>
              {% if post.is_public %} 
                <img src="{% static 'images/site/icons/eye_open.png' %}" alt="Home" border="0" width="24" height="24" style="margin-left: 2px;">
              {% else %} 
                  <img src="{% static 'images/site/icons/eye_closed.png' %}" alt="Home" border="0" width="24" height="24" style="margin-left: 2px;">
              {% endif %}
            </td>
            <td>
              <img src="{% url 'ignis:post_image' '80' post.id %}.gif" alt="Cover Image" style="width: 80px; display: block; margin: 0 auto;">
            </td>
            <td colspan='1'>
              <a href="#">
                {{ post.title }}
              </a>
            </td>
            <td><a href="#">{{ post.author }}</a></td>
            <td>{{ post.date | date:"d M Y" }}</td>
            <td><a href="#/{{ post.category.slug }}">{{ post.category }}</a></td>
            <td>
              <p><a href="{% url 'blog-admin:new-post'%}?mode=edit&amp;post_id={{post.id}}">Edit Post Metadata</a></p>
              <p><a href="{% url 'blog-admin:edit-post' post.slug %}">Edit Post Contents</a></p>
              <p><a href="{% url 'admin:blog_post_delete' post.id %}" class="error">Delete Post</a></p>
              {% if post.is_public %}
              <p><a href="{% url 'blog-admin:unpublish-post' post.slug %}" class="error" onclick="return confirm('This post will immediately be hidden from users. Proceed?')">Unpublish Post</a></p>
              {% else %}
              <p><a href="{% url 'blog-admin:publish-post' post.slug %}" class="success" onclick="return confirm('This post will immediately be shown to users. Proceed?')">Publish Post</a></p>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if num_pages and page %}
        <div class="pagination">
          <center>
            <table id="pagination">
              <tr>
                {% if page == 1 %}
                  <td><a class="disabled">&laquo;</a></td>
                  <td style="margin-right: 15px;"><a class="disabled">&lsaquo;</a></td>
                {% else %}
                  <td><a href="{% url 'blog-admin:posts' %}?page=1">&laquo;</a></td>
                  <td style="margin-right: 15px;"><a href="{% url 'blog-admin:posts' %}?page={{ page|add:'-1' }}">&lsaquo;</a></td>
                {% endif %}
                {% load times %}
                {% for i in num_pages|times  %}
                <td><a {% if i == page %}class="active"{% endif %} href="{% url 'blog-admin:posts' %}?page={{ i }}">{{ i }}</a></td>
                {% endfor %}
                {% if page == num_pages %}
                  <td style="margin-left: 15px;" class="disabled"><a class="disabled">&rsaquo;</a></td>
                  <td><a class="disabled">&raquo;</a></td>
                {% else %}
                  <td style="margin-left: 15px;"><a href="{% url 'blog-admin:posts' %}?page={{ page|add:'1' }}">&rsaquo;</a></td>
                  <td><a href="{% url 'blog-admin:posts' %}?page={{ num_pages }}">&raquo;</a></td>
                {% endif %}
              </tr>
            </table>
          </center>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}
