{% extends 'blog/partials/base.html' %} {% block content %}
<div class="main">
    <div>
      {% include 'blog_admin/partials/posts_topbar.html' %}
      <table id="posts">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created</th>
            <th>Category</th>
            <th>Visibility</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for post in posts %}
          <tr>
            <td><a href="{% url 'blog:post' post.slug %}">{{ post.title }}</a></td>
            <td>{{ post.author }}</td>
            <td>{{ post.date }}</td>
            <td><a href="#">{{ post.category }}</a></td>
            <td style="position: relative;"> {% if post.is_public %} <span class="label label-success">Published</span> {% else %} <span class="label label-warning">Draft</span> {% endif %} </td>
            <td>
              <a href="{% url 'blog-admin:edit-post' post.slug %}">Edit</a>
              <a href="{% url 'admin:blog_post_delete' post.id %}" class="error">Delete</a>
              {% if post.is_public %}
              <a href="{% url 'blog-admin:unpublish-post' post.slug %}" class="error" onclick="return confirm('This post will immediately be hidden from users. Proceed?')">Unpublish</a>
              {% else %}
              <a href="{% url 'blog-admin:publish-post' post.slug %}" class="success" onclick="return confirm('This post will immediately be shown to users. Proceed?')">Publish</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if num_pages and page %}
        <div class="pagination">
          <center>
            <table id="pagination">
              <tr>
                {% if page == 1 %}
                  <td><a class="disabled">&laquo;</a></td>
                  <td style="margin-right: 15px;"><a class="disabled">&lsaquo;</a></td>
                {% else %}
                  <td><a href="{% url 'blog-admin:posts' %}?page=1">&laquo;</a></td>
                  <td style="margin-right: 15px;"><a href="{% url 'blog-admin:posts' %}?page={{ page|add:'-1' }}">&lsaquo;</a></td>
                {% endif %}
                {% load times %}
                {% for i in num_pages|times  %}
                <td><a {% if i == page %}class="active"{% endif %} href="{% url 'blog-admin:posts' %}?page={{ i }}">{{ i }}</a></td>
                {% endfor %}
                {% if page == num_pages %}
                  <td style="margin-left: 15px;" class="disabled"><a class="disabled">&rsaquo;</a></td>
                  <td><a class="disabled">&raquo;</a></td>
                {% else %}
                  <td style="margin-left: 15px;"><a href="{% url 'blog-admin:posts' %}?page={{ page|add:'1' }}">&rsaquo;</a></td>
                  <td><a href="{% url 'blog-admin:posts' %}?page={{ num_pages }}">&raquo;</a></td>
                {% endif %}
              </tr>
            </table>
          </center>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}
