{% extends 'blog/partials/base.html' %} {% block content %}
<div class="main">
    <section>
        {% include 'blog_admin/partials/tags_topbar.html' %}
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Slug</th>
                <th>tags</th>
                <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                <tr>
                    <td>{{ tag.slug }}</td>
                    <td>{{ tag.post_count }}</td>
                    <td>
                        <a href="#" class="btn btn-default btn-xs">Edit</a>
                        <a href="#" class="btn btn-danger btn-xs">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if num_pages and page %}
        <div class="pagination">
            {% if page == 1 %}
                <a href="#" class="disabled">&laquo;</a>
                <a href="#" class="disabled">&lsaquo;</a>
            {% else %}
                <a href="{% url 'blog-admin:tags'%}?page=1">&laquo;</a>
                <a href="{% url 'blog-admin:tags'%}?page={{ page|add:-1 }}">&lsaquo;</a>
            {% endif %}
            {% for i in num_pages|make_list  %}
                <a href="{% url 'blog-admin:tags'%}?page={{ i }}">{{ i }}</a>
            {% endfor %}
            {% if page == num_pages %}
                <a href="#" class="disabled">&rsaquo;</a>
                <a href="#" class="disabled">&raquo;</a>
            {% else %}
                <a href="{% url 'blog-admin:tags'%}?page={{ page|add:1 }}">&rsaquo;</a>
                <a href="{% url 'blog-admin:tags'%}?page={{ num_pages }}">&raquo;</a>
            {% endif %}
        </div>
    {% endif %}
    </section>
</div>
{% endblock %}
