{% extends 'blog/partials/base.html' %} {% block content %}
<div class="main">
  <section>
    {% include 'blog_admin/partials/main_section.html' %}
    {% comment %} Collapsible Section for super-users {% endcomment %}
    <details>
      <summary>Super Users</summary>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">User ID</th>
            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role(s)</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in super_users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>
              {% if user.is_superuser %}Super user, {% endif %}
              {% if user.is_staff %}Staff, {% endif %}
              {% if user.is_active %}Active{% endif %}
            </td>
            <td>
              <a href="#" class="btn btn-primary btn-sm">Edit</a>
              <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </details>
    {% comment %} Collapsible Section for normal users {% endcomment %}
    <details open>
      <summary>Normal Users</summary>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">User ID</th>
            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role(s)</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in normal_users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>
              {% if user.is_superuser %}Super user, {% endif %}
              {% if user.is_staff %}Staff, {% endif %}
              {% if user.is_active %}Active{% endif %}
            </td>
            <td>
              <a href="#" class="btn btn-primary btn-sm">Edit</a>
              <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </details>
    {% if num_pages and page %}
      <div class="pagination">
        {% if page == 1 %}
          <a href="#" class="disabled">&laquo;</a>
          <a href="#" class="disabled">&lsaquo;</a>
        {% else %}
          <a href="{% url 'blog-admin:users' %}?page=1">&laquo;</a>
          <a href="{% url 'blog-admin:users' %}?page={{ page|add:-1 }}">&lsaquo;</a>
        {% endif %}
        {% for i in num_pages|make_list  %}
          <a href="{% url 'blog-admin:users' %}?page={{ i }}">{{ i }}</a>
        {% endfor %}
        {% if page == num_pages %}
          <a href="#" class="disabled">&rsaquo;</a>
          <a href="#" class="disabled">&raquo;</a>
        {% else %}
          <a href="{% url 'blog-admin:users' %}?page={{ page|add:1 }}">&rsaquo;</a>
          <a href="{% url 'blog-admin:users' %}?page={{ num_pages }}">&raquo;</a>
        {% endif %}
      </div>
    {% endif %}
  </section>
</div>
{% endblock %}
