{% extends 'blog/partials/base.html' %} {% block content %}
<div class="main">
  <section>
    {% include 'blog_admin/partials/users_topbar.html' %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">Username</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role(s)</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for current_user in normal_users %}
          {% if current_user.id != user.id %}
            <tr>
              <td>{{ current_user.id }}</td>
              <td>{{ current_user.username }}</td>
              <td>{{ current_user.first_name }}</td>
              <td>{{ current_user.last_name }}</td>
              <td>{{ current_user.email }}</td>
              <td>
                {% if current_user.is_superuser %}Super user, {% endif %}
                {% if current_user.is_staff %}Staff, {% endif %}
                {% if current_user.is_active %}Active{% endif %}
              </td>
              <td>
                <a href="{% url 'blog-admin:edit-user' current_user.id %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="#" class="btn btn-danger btn-sm">Delete</a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
    {% if num_pages and page %}
      <div class="pagination">
        {% if page == 1 %}
          <a href="#" class="disabled">&laquo;</a>
          <a href="#" class="disabled">&lsaquo;</a>
        {% else %}
          <a href="{% url 'blog-admin:users' %}?page=1">&laquo;</a>
          <a href="{% url 'blog-admin:users' %}?page={{ page|add:-1 }}">&lsaquo;</a>
        {% endif %}
        {% for i in num_pages|make_list  %}
          <a href="{% url 'blog-admin:users' %}?page={{ i }}">{{ i }}</a>
        {% endfor %}
        {% if page == num_pages %}
          <a href="#" class="disabled">&rsaquo;</a>
          <a href="#" class="disabled">&raquo;</a>
        {% else %}
          <a href="{% url 'blog-admin:users' %}?page={{ page|add:1 }}">&rsaquo;</a>
          <a href="{% url 'blog-admin:users' %}?page={{ num_pages }}">&raquo;</a>
        {% endif %}
      </div>
    {% endif %}
  </section>
</div>
{% endblock %}
