{% extends "_layouts/base.html" %}
{% load static %}
{% load i18n %}
{% block head %}
    <link type="text/css"
          rel="stylesheet"
          href="{% static 'css/blog/subpage.css' %}" />
{% endblock head %}
{% block content %}
<div class="page-container">
    <div class="page-header">
        <h1 class="page-title">
            <span class="title-glitch" data-text="{% translate "Tags" %}">{% translate "Tags" %}</span>
        </h1>
        <div class="page-subtitle">
            {% translate "Browse weblog posts by category" %}
        </div>
        
        <div class="bg-elements">
            <div class="bg-grid"></div>
            <div class="floating-shapes">
                <div class="bg-shape bg-shape-1"></div>
                <div class="bg-shape bg-shape-2"></div>
                <div class="bg-shape bg-shape-3"></div>
            </div>
        </div>
    </div>
    
    <div class="content-grid">
        {% for tag in tags %}
            <a href="{% url 'blog:home' %}?tag={{ tag.slug }}" class="content-card" data-tag="{{ tag.slug }}" style="background-image: url('{{ tag.image }}');">
                <div class="card-inner">
                    <div class="card-overlay"></div>
                    <div class="card-info">
                        <h3 class="card-title">{{ tag.name }}</h3>
                        <div class="card-meta">
                            <span class="item-count">
                                {% blocktranslate count post_count=tag.post_count %}
                                    {{ post_count }} Post{% plural %}
                                    {{ post_count }} Posts
                                {% endblocktranslate %}
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        {% empty %}
            <div class="empty-state">
                <h3>{% translate "No categories found" %}</h3>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}