{% extends '_layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <h1 class="section-title">{% translate 'Contemplations of Late' %}</h1>
  <div class="weblogs">
    {% include '_partials/weblog_list.html' with posts=posts %}
  </div>
{% endblock %}
{% block scripts %}
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script type="text/javascript" src="{% static 'js/core/math.js' %}"></script>
{% endblock %}
