{% extends '_layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/blog/weblog.css' %}" />
{% endblock %}

{% block content %}
  <div class="weblog-title-banner">
    <div class="overlay-bottom-radial"></div>
    <div class="weblog-banner-content">
      <h1>{% translate 'Contemplations of Late' %}</h1>
      <form method="GET" action="{% url 'weblog:home' %}">
        <label for="q">{% translate 'Keywords' %}:</label>
        <input type="text" id="q" name="q" placeholder="{% translate 'Search weblog...' %}" value="{{ request.GET.q }}" />
        <label for="category">{% translate 'Category' %}:</label>
        <select id="category" name="category">
          <option value="all">
            {% translate 'All' %}
          </option>
          {% for category in categories %}
            {% if category.is_selected %}
              <option value="{{ category.slug }}" selected>{{ category.name }}</option>
            {% else %}
              <option value="{{ category.slug }}">{{ category.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <label for="sort">{% translate 'Sort by' %}:</label>
        <select id="sort" name="sort">
          {% for option in sort_options %}
            {% if option.selected %}
              <option value="{{ option.value }}" selected>
                {% if option.label == 'Date' %}{% translate 'Date' %}{% endif %}
                {% if option.label == 'Title' %}{% translate 'Title' %}{% endif %}
                {% if option.label == 'Views' %}{% translate 'Views' %}{% endif %}
                {% if option.label == 'Comments' %}{% translate 'Comments' %}{% endif %}
              </option>
            {% else %}
              <option value="{{ option.value }}">
                {% if option.label == 'Date' %}{% translate 'Date' %}{% endif %}
                {% if option.label == 'Title' %}{% translate 'Title' %}{% endif %}
                {% if option.label == 'Views' %}{% translate 'Views' %}{% endif %}
                {% if option.label == 'Comments' %}{% translate 'Comments' %}{% endif %}
              </option>
            {% endif %}
          {% endfor %}
        </select>
        <div class="order-toggle">
          {% for order in order_options %}
            {% if order.selected %}
              <input type="radio" id="{{ order.value }}" name="order" value="{{ order.value }}" checked />
            {% else %}
              <input type="radio" id="{{ order.value }}" name="order" value="{{ order.value }}" />
            {% endif %}
            <label for="{{ order.value }}">{{ order.symbol }}</label>
          {% endfor %}
        </div>
        <button type="submit">{% translate 'Filter' %}</button>
      </form>
    </div>
  </div>
  <div class="weblogs">
    {% include '_partials/weblog_list.html' with posts=posts %}
  </div><
{% endblock %}
{% block scripts %}
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script type="text/javascript" src="{% static 'js/core/math.js' %}"></script>
{% endblock %}
