{% extends 'blog/partials/base.html' %} {% block content %}
{% load static %}
<div class="main">
  <div style="text-align: center;">
    <h1>400 Bad Request</h1>
    <p>Unfortunately, something went wrong. The server could not understand your request.</p>
    <p><a href="{% url 'blog:home' %}" style="color: #feffcf;
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
      font-size: 12px;
      padding: 4px 8px;
      display: inline-block;
      background: #0000FF;
      border-top: 2px solid #6666FF;
      border-left: 2px solid #6666FF;
      border-right: 2px solid #00007C;
      border-bottom: 2px solid #00007C;
      font-family: 'TopNavbar', sans-serif;
      position: relative;">Go to Home</a></p>
  </div>
</div>
{% endblock %}
