{% load static %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Shifoo - {{ request.meta.title }}" />
    <meta name="description" content="{{ request.meta.description }}" />
    <meta name="image" content="{{ request.meta.image }}" />
    <meta name="url" content="{{ request.meta.url }}" />
    <meta property="og:title" content="Shifoo - {{ request.meta.title }}" />
    <meta property="og:description" content="{{ request.meta.description }}" />
    <meta property="og:image" content="{{ request.meta.image }}" />
    <meta property="og:url" content="{{ request.meta.url }}" />
    <meta property="robots" content="{{ request.meta.robots }}" />
    {% block title %}

    {% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/shared/core.css' %}" />
    {% block head %}

    {% endblock %}
  </head>
  <body>
    <video autoplay muted loop id="video-background" preload="auto">
      <source src="{% static 'videos/background_.mp4' %}" type="video/mp4" />
    </video>
    <img src="{% static 'images/core/img/pngegg.png' %}" id="spaceship" />
    <div id="video-overlay"></div>
    <div id="body-wrapper">
      {% include 'partials/_header.html' %}
      <div id="content-wrapper">
        <div id="left-sidebar" style="{% if user.is_authenticated %}border-top-left-radius: 0px;{% endif %}">
          {% include 'partials/_left_sidebar.html' %}
        </div>
        <div id="main-content">
          {% block content %}

          {% endblock %}
        </div>
        <div id="right-sidebar">
          {% include 'partials/_right_sidebar.html' %}
        </div>
      </div>
      <div id="footer">
        {% include 'partials/_footer.html' %}
      </div>
    </div>
    <div id="scanlines"></div>
  </body>
  {% block scripts %}

  {% endblock %}
  <script src="{% static 'js/libs/pamphlet.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/MotionPathPlugin.min.js"></script>
  <script type="text/javascript">
    new Pamphlet()
    const animationPlayed = sessionStorage.getItem('animationPlayed')
    document.addEventListener('DOMContentLoaded', function () {
      // Move all calculations inside the DOMContentLoaded event
      const spaceship = document.getElementById('spaceship')
      const leftSidebar = document.getElementById('left-sidebar')
      const sidebarRect = leftSidebar.getBoundingClientRect()
      const sidebarLeft = sidebarRect.left
      const sidebarTop = sidebarRect.top
      const initialX = Math.min(200, sidebarLeft - 100)
    
      if (animationPlayed) {
        // Set final position of spaceship
        gsap.set(spaceship, { x: sidebarLeft + 100, y: -200, rotation: -10 })
        return
      }
    
      gsap.registerPlugin(MotionPathPlugin)
    
      gsap.to(spaceship, {
        duration: 120,
        motionPath: {
          path: [
            { x: initialX, y: -50 },
            { x: sidebarLeft, y: -100 },
            { x: sidebarLeft + 100, y: -200 }
          ],
          curviness: 1.5
        },
        ease: 'power2.inOut',
        rotation: -10,
        onComplete: () => {
          // Set animation played flag
          sessionStorage.setItem('animationPlayed', true)
        }
      })
    })
  </script>
</html>
