#login-area {
  background-image: url("../../images/core/sidebar/login-area_ja@3x.png");
  background-image: url("../../images/core/sidebar/login-area_ja@3x.png");
}

#login-area>#register-now-button {
  width: 76px;
  right: 27px;
}

#login-area>#forgot-password-button {
  width: 75px;
  right: 14px;
}