#login-area {
  background-image: -webkit-image-set(url("../../images/core/sidebar/login-area_ja@2x.png") 1x,
      url("../../images/core/sidebar/login-area_ja@2x.png") 2x,
      url("../../images/core/sidebar/login-area_ja@3x.png") 3x);
  background-image: image-set(url("../../images/core/sidebar/login-area_ja@2x.png") 1x,
      url("../../images/core/sidebar/login-area_ja@2x.png") 2x,
      url("../../images/core/sidebar/login-area_ja@3x.png") 3x);
}

#login-area>#register-now-button {
  width: 76px;
  right: 27px;
}

#login-area>#forgot-password-button {
  width: 75px;
  right: 14px;
}