<div class="footer-buttons">
    <span class="pamphlet pamphlet-button"></span>
    <span class="pamphlet pamphlet-button"></span>
    <span class="pamphlet pamphlet-button"></span>
    <span class="pamphlet pamphlet-button"></span>
    <span class="pamphlet pamphlet-button"></span>
    <span class="pamphlet pamphlet-button"></span>
    <span class="pamphlet pamphlet-button"></span>
    <span class="pamphlet pamphlet-button"></span>
    <span class="pamphlet pamphlet-button"></span>
</div>
<div class="footer-buttons">
    <span class="pamphlet pamphlet-button"></span>
    <span class="pamphlet pamphlet-button"></span>
    <span class="pamphlet pamphlet-button"></span>
    <span class="pamphlet pamphlet-button"></span>
    <span class="pamphlet pamphlet-button"></span>
</div>
<p class="footer-copyright">
    &copy; {% now "y" %} Shifoo. Source code available on
    <a href="https://github.com/luciferreeves/thatcomputerscientist" target="_blank">GitHub</a>.
    All rights reserved.
</p>
<p class="footer-credits">
    <strong>PS:</strong> The ads shown on this website are fake and purely for
    aesthetic purposes. I do not earn any money from them, neither
    clicking them will redirect you to any other website. If you have any
    questions, comments, or concerns about how this site operates and how
    your data is handled, please check out the
    <a href="#privacy-policy">Privacy Policy</a> page. View
    <a href="#sitemap">Sitemap</a>.
</p>

