{% load static %}
<div class="left-sidebar" {% if user.is_authenticated %}style="top: -34px;"{% endif %}>
<link rel="stylesheet" href="{% static 'css/shared/login-area.css' %}" />
{% if request.LANGUAGE_CODE == 'ja' %}
  <link rel="stylesheet" href="{% static 'css/ja/login-area.css' %}" />
{% else %}
  <link rel="stylesheet" href="{% static 'css/en/login-area.css' %}" />
{% endif %}
  {% if not user.is_authenticated %}
    <div id="login-area">
      <form method="post" action="#" id="login-form">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <input type="text" id="username" name="username" placeholder="{% if request.LANGUAGE_CODE == 'ja' %}ユーザー名{% else %}Username{% endif %}" autocomplete="off" value="{{ request.GET.username }}" />
        <input type="password" id="password" name="password" placeholder="{% if request.LANGUAGE_CODE == 'ja' %}パスワード{% else %}Password{% endif %}" autocomplete="off" />
        <input type="hidden" name="next" value="{{ request.path }}" />
        <input type="submit" value="" />
      </form>
      <a href="#" id="register-now-button"></a>
      <a href="#" id="forgot-password-button"></a>
    </div>
  {% else %}
    <div id="user-area">
      <h2 class="user-title">{% if request.LANGUAGE_CODE == 'ja' %}こんにちは、{{ user.username }}さん{% else %}Hello, {{ user.username }}{% endif %}</h2>
      <div class="user-avatar">
        <img src="{% static 'images/avatars/' %}{{ user.profile.avatar_url }}.gif" alt="{{ user.username }}'s avatar" />
      </div>
      <div class="user-items-container">
        <div class="user-item">
          <img src="{% static 'images/core/icons/journals.png' %}" alt="Journals Icon" />
          <a href="#journals">{% if request.LANGUAGE_CODE == 'ja' %}ジャーナル{% else %}Journals{% endif %}</a>
      </div>
      <div class="user-item">
        <img src="{% static 'images/core/icons/pagodarealm.png' %}" alt="The Pagoda Realm Icon" />
        <a href="#pagodarealm">{% if request.LANGUAGE_CODE == 'ja' %}パゴダレルム{% else %}The Pagoda Realm{% endif %}</a>
      </div>
      <div class="user-item">
        <img src="{% static 'images/core/icons/mypage.png' %}" alt="My Page Icon" />
        <a href="#mypage">{% if request.LANGUAGE_CODE == 'ja' %}マイページ{% else %}My Page{% endif %}</a>
      </div>
      <div class="user-item">
        <img src="{% static 'images/core/icons/logout.png' %}" alt="Logout Icon" />
        <a href="#logout">{% if request.LANGUAGE_CODE == 'ja' %}ログアウト{% else %}Logout{% endif %}</a>
      </div>
    </div>

      {% comment %} <div class="user-links">
        <a href="#journals">{% if request.LANGUAGE_CODE == 'ja' %}ジャーナル{% else %}Journals{% endif %}</a>
        <a href="#mymatrix">{% if request.LANGUAGE_CODE == 'ja' %}マトリックス{% else %}My Matrix{% endif %}</a>
        <a href="#mypage">{% if request.LANGUAGE_CODE == 'ja' %}マイページ{% else %}My Page{% endif %}</a>
        <a href="#logout">{% if request.LANGUAGE_CODE == 'ja' %}ログアウト{% else %}Logout{% endif %}</a>
      </div> {% endcomment %}
    </div>
  {% endif %}

  <div class="navigation-links">
    <div class="navigation-title-container">
      <h1 class="navigation-title">{% if request.LANGUAGE_CODE == 'ja' %}ナビゲーション{% else %}Navigation{% endif %}</h1>
    </div>
    <div class="navigation-items-container">
      <div class="navigation-item">
        <img src={% static 'images/core/icons/home.png' %} alt="Home Icon" />
        <a href="#home">{% if request.LANGUAGE_CODE == 'ja' %}ホーム{% else %}Home{% endif %}</a>
      </div>
      <div class="navigation-item">
        <img src="{% static 'images/core/icons/journalofrandomthoughts.png' %}" alt="Journal of Random Thoughts Icon" />
        <a href="#journalofrandomthoughts">{% if request.LANGUAGE_CODE == 'ja' %}ランダム思考のジャーナル{% else %}Journal of Random Thoughts{% endif %}</a>
      </div>
      <div class="navigation-item">
        <img src="{% static 'images/core/icons/weblog.gif' %}" alt="Weblog Icon" />
        <a href="#weblog">{% if request.LANGUAGE_CODE == 'ja' %}ウェブログ{% else %}Weblog{% endif %}</a>
      </div>
      <div class="navigation-item">
        <img src="{% static 'images/core/icons/shrines.png' %}" alt="Shrines Icon" />
        <a href="#shrines">{% if request.LANGUAGE_CODE == 'ja' %}神社{% else %}Shrines{% endif %}</a>
      </div>
      <div class="navigation-item">
        <img src="{% static 'images/core/icons/screenshots.png' %}" alt="Screenshots Icon" />
        <a href="#screenshots">{% if request.LANGUAGE_CODE == 'ja' %}スクリーンショット{% else %}Screenshots{% endif %}</a>
      </div>
      <div class="navigation-item">
        <img src="{% static 'images/core/icons/chatrooms.png' %}" alt="Chatrooms Icon" />
        <a href="#chatrooms">{% if request.LANGUAGE_CODE == 'ja' %}チャットルーム{% else %}Chatrooms{% endif %}</a>
      </div>
      <div class="navigation-item">
        <img src="{% static 'images/core/icons/guestbook.png' %}" alt="Guestbook Icon" />
        <a href="#guestbook">{% if request.LANGUAGE_CODE == 'ja' %}ゲストブック{% else %}Guestbook{% endif %}</a>
      </div>
      <div class="navigation-item">
        <img src="{% static 'images/core/icons/preferences.png' %}" alt="Site Preferences Icon" />
        <a href="#preferences">{% if request.LANGUAGE_CODE == 'ja' %}サイトの設定{% else %}Site Preferences{% endif %}</a>
      </div>
      <div class="navigation-item">
        {% if not user.is_authenticated %}
          <img src="{% static 'images/core/icons/registeraccount.png' %}" alt="Register Account Icon" />
          <a href="#register">{% if request.LANGUAGE_CODE == 'ja' %}アカウント登録{% else %}Register Account{% endif %}</a>
        {% else %}
          <img src="{% static 'images/core/icons/useraccount.png' %}" alt="My Account Icon" />
          <a href="#account">{% if request.LANGUAGE_CODE == 'ja' %}マイアカウント{% else %}My Account{% endif %}</a>
        {% endif %}
      </div>


      <div class="navigation-item {% if request.LANGUAGE_CODE == 'ja' %}en{% else %}ja{% endif %}">
        <img src="{% static 'images/core/icons/changelanguage.png' %}" alt="Change Language Icon" />
        <a href="#" onclick="changeLanguage({% if request.LANGUAGE_CODE == 'ja' %}'en'{% else %}'ja'{% endif %})">
          {% if request.LANGUAGE_CODE == 'ja' %}English (英語){% else %}日本語 (Japanese){% endif %}
        </a>
      </div>
    </div>
  </div>

  <div id="search-area">
    <form action="#" method="get" id="search-form">
      <input
        type="text"
        name="q"
        placeholder="{% if request.LANGUAGE_CODE == 'ja' %}検索{% else %}Search{% endif %}"
        autocomplete="off"
        value="{{ request.GET.q }}"
        required
      />
    </form>
  </div>

  <div class="navigation-links">
    <div class="navigation-title-container">
      <h1 class="navigation-title">{% if request.LANGUAGE_CODE == 'ja' %}おすすめ{% else %}The Good Stuff{% endif %}</h1>
    </div>
    <div class="navigation-items-container">
      <div class="navigation-item">
        <img src="{% static 'images/core/icons/calendar.png' %}" alt="Calendar Icon" />
        <a href="#calendar">{% if request.LANGUAGE_CODE == 'ja' %}ブログカレンダー{% else %}Post Calendar{% endif %}</a>
      </div>
      <div class="navigation-item">
        <img src="{% static 'images/core/icons/anime.png' %}" alt="Anime Icon" />
        <a href="#anime">{% if request.LANGUAGE_CODE == 'ja' %}アニメ配信{% else %}Anime Streams{% endif %}</a>
      </div>
      <div class="navigation-item">
        <img src="{% static 'images/core/icons/matrix.png' %}" alt="The Matrix Icon" />
        <a href="#matrix">{% if request.LANGUAGE_CODE == 'ja' %}ザ・マトリックス{% else %}The Matrix{% endif %}</a>
      </div>
      <div class="navigation-item">
        <img src="{% static 'images/core/icons/rss.png' %}" alt="RSS Icon" />
        <a href="#rss">{% if request.LANGUAGE_CODE == 'ja' %}RSSフィード{% else %}RSS Feed{% endif %}</a>
      </div>
      <div class="navigation-item">
        <img src="{% static 'images/core/icons/marketplace.png' %}" alt="Marketplace Icon" />
        <a href="#marketplace">{% if request.LANGUAGE_CODE == 'ja' %}マーケットプレイス{% else %}Marketplace{% endif %}</a>
      </div>
      <div class="navigation-item">
        <img src="{% static 'images/core/icons/discussions.png' %}" alt="Discussions Icon" />
        <a href="#discussions">{% if request.LANGUAGE_CODE == 'ja' %}ディスカッション{% else %}Discussions{% endif %}</a>
      </div>
    </div>
  </div>

  <div class="pamphlet pamphlet-big"></div>

  <div class="navigation-links">
    <div class="navigation-title-container">
      <h1 class="navigation-title">{% if request.LANGUAGE_CODE == 'ja' %}サイトの魔法{% else %}Site Spells{% endif %}</h1>
    </div>
    <div class="navigation-items-container">
      <div class="navigation-item">
        {% if request.COOKIES.summonOneko == 'true' %}
          <img src="{% static 'images/core/icons/withdraw_oneko.gif' %}" alt="Withdraw Oneko Icon" />
          <a href="javascript:void(0);" onclick="document.cookie = 'summonOneko=false;path=/';location.reload();">{% if request.LANGUAGE_CODE == 'ja' %}おねこを引っ込める{% else %}Withdraw Oneko{% endif %}</a>
        {% else %}
          <img src="{% static 'images/core/icons/summon_oneko.gif' %}" alt="Summon Oneko Icon" />
          <a href="javascript:void(0);" onclick="document.cookie = 'summonOneko=true;path=/';location.reload();">{% if request.LANGUAGE_CODE == 'ja' %}おねこを召喚{% else %}Summon Oneko{% endif %}</a>
        {% endif %}
      </div>
      <div class="navigation-item">
        <img src="{% static 'images/core/icons/harlemshake.gif' %}" alt="Harlem Shake Icon" />
        <a href="javascript:harlemShakeAndBake();">{% if request.LANGUAGE_CODE == 'ja' %}ハーレムシェイク{% else %}Harlem Shake{% endif %}</a>
      </div>
      <div class="navigation-item">
        <img src="{% static 'images/core/icons/dvd.png' %}" alt="DVD Sitesaver Icon" />
        <a href="javascript:dvdSitesaver();">{% if request.LANGUAGE_CODE == 'ja' %}DVDサイトセーバー{% else %}DVD Sitesaver{% endif %}</a>
      </div>
    </div>
  </div>
</div>

<script>
  function changeLanguage(language) {
    document.cookie = `site_language=${language};path=/`;
    location.reload();
  }
</script>

