{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/shared/kawaiibeats.css' %}">
{% endblock head %}

<div class="kawaiibeats">
    <p id="song-title">Loading...</p>
    <p id="song-artist-album">Loading...</p>
    <img onerror="this.src=getRandomArtwork()" id="song-cover" alt="Song Cover">
    <canvas id="song-visualizer" width="140" height="30"></canvas>
    <div id="song-time">
      <span id="song-time-elapsed">0:00</span>
      <span id="song-time-total">0:00</span>
    </div>
    <div id="song-controls">
        <button id="song-prev">&lt;</button>
        <button id="song-play">&#9658;</button>
        <button id="song-next">&gt;</button>
    </div>
</div>

{% block scripts %}
<script src="{% static 'js/musicPlayer.js' %}"></script>
{% endblock scripts %}